.wb-unit9-p2-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 30%;
}

.wb-unit9-p2-q2 {
    position: absolute;
    padding: 5px;
    top: 43.5%;
    left: 52%;
}

.wb-unit9-p2-q3 {
    position: absolute;
    padding: 5px;
    top: 64.5%;
    left: 52%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit9-p2-q1 {
    position: absolute;
    padding: 5px;
    top:2.5%;
    left: 30%;
}

.wb-unit9-p2-q2 {
    position: absolute;
    padding: 5px;
    top: 42.5%;
    left: 52%;
}

.wb-unit9-p2-q3 {
    position: absolute;
    padding: 5px;
    top: 63.5%;
    left: 52%;
}

}
/* @media (max-width: 1024px) {
  .wb-unit9-p2-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit9-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit9-p2-q1 {
    top: 14.5%;
  }

  .wb-unit9-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
