.unscramble-row-wb-unit9-p6-q1 {
  display: grid;
  gap: 20px;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.unscramble-box-wb-unit9-p6-q1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
}

.img-box-wb-unit9-p6-q1 {
  width: 130px;
  height: 145px;
  /* border: 3px solid #7bc4ff; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .unscramble-row-wb-unit9-p6-q1 {
    display: grid;
    gap: 0px;
    margin-top: 0px;
    grid-template-columns: repeat(2, 1fr);
  }
  .img-box-wb-unit9-p6-q1 {
    height: 120px;
  }
}

@media (max-width: 820px) {
  .unscramble-row-wb-unit9-p6-q1 {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
}
