.container-word-grid-wb-u9-p5-q1 {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row-reverse; */
}

.word-btn-wb-u9-p5-q1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cell-wb-u9-p5-q1 {
  width: 65px;
  height: 45px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.cell-wb-u9-p5-q1.highlight {
  background-color: #cdfffa;
  border: 2px solid rgb(0, 179, 255);
}

.cell-wb-u9-p5-q1.found {
  background-color: #dcffcd;
  border: 2px solid green;
  font-weight: bold;
}

.word-label-wrapper-wb-u9-p5-q1 {
  width: 150px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: black;
  background: white;
  margin: 12px 0;
  position: relative;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .word-label-wrapper-wb-u9-p5-q1 {
    width: 120px;
  }
}
@media (max-width: 820px) {
  .container-word-grid-wb-u9-p5-q1 {
    flex-direction: column;
  }
}
