.wb-unit9-p3-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 40%;
}
.wb-unit9-p3-q2 {
    position: absolute;
    padding: 5px;
    top: 46.2%;
    left: 69%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit9-p3-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 40%;
}
.wb-unit9-p3-q2 {
    position: absolute;
    padding: 5px;
    top: 45.2%;
    left: 69%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit9-p3-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit9-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit9-p3-q1 {
           top: 14.5%;
    
  }

  .wb-unit9-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
