.content-container-wb-unit9-p4-q1{
      display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 30px; */
}

.blank-options-wb-unit9-p4-q1 {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
    flex-direction: column;
    position: relative;
}

.sentence-wb-unit9-p4-q1 {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    width: 100%;
    align-items: center;
    font-size: 20px;
    /* justify-content: space-evenly; */
    flex-direction: row;
}

.question-row-wb-unit9-p4-q1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 25px; */
    font-size: 22px;
    flex-direction: column-reverse;
    width: 100%;
}