/* ====== CONTAINER ====== */
.wb-unit9-p1-q2-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 20px 30px;
  font-family: "Arial", sans-serif;
  color: #1d4f7b;
}

/* ====== TITLE ====== */
.wb-unit9-p1-q2-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.wb-unit9-p1-q2-title::before {
  content: "B";
  background: #5bb9e6;
  color: white;
  font-weight: bold;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ====== IMAGE ====== */
.wb-unit9-p1-q2-image {
  height: 200px;
  width: auto;
  border-radius: 16px;
  /* margin-bottom: 30px; */
  /* border: 2px solid #cfe9f6; */
}

/* ====== QUESTIONS ====== */
.wb-unit9-p1-q2-questions {
  display: flex;
  flex-direction: column;
  /* gap: 18px; */
}

/* ====== QUESTION ROW ====== */
.wb-unit9-p1-q2-row {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  font-size: 18px;
}

/* number */
.wb-unit9-p1-q2-number {
  font-weight: 700;
  width: 20px;
  font-size: 25px;
  color: #1d4f7b;
}

/* ====== INPUT ====== */
.wb-unit9-p1-q2-input {
  width: 100%;
  /* border: none; */
  border-bottom: 2px solid #333;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 4px 2px;
  height: 40px;
}

/* .wb-unit9-p1-q2-input:disabled {
  background: transparent;
  color: #1d4f7b;
} */

/* ====== TEXT ====== */
.wb-unit9-p1-q2-text {
  margin: 0 5px;
}

/* ====== ACTION BUTTONS ====== */
.wb-unit9-p1-q2-actions {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.wb-unit9-p1-q2-btn {
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #1d4f7b;
  color: white;
  font-weight: 600;
  transition: 0.2s;
}

.wb-unit9-p1-q2-btn:hover {
  background-color: #163b5c;
}

.wb-unit9-p1-q2-input-wrapper {
  position: relative;
  display: inline-block;
      width: 59%;
}

.wb-unit9-p1-q2-wrong-mark {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 22px;
  height: 22px;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit9-p1-q2-image {
    height: 150px;
  }
}
