.question-grid-unit4-page5-q1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 100%;
  justify-items: center;
  margin-top: 20px;
}
.write-input-unit4-page5-q1 {
  height: 40px;   /* أو نفس ارتفاع input القديم */
   width: 100%;
  border: none;
  border-bottom: 2px solid #888;
  outline: none;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-wrapper-unit4-page5-q1 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.question-box-unit4-page5-q1 {
  border: 2px solid #8cc2f5;
  border-radius: 12px;
  padding: 15px;
  width: 100%;
  background: white;
  position: relative;
}
.circle-choice-unit4-page5-q1.active.correct-color {
  border-color: red !important;
}

.q-img-unit4-page5-q1 {
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.circle-wrapper,
.input-wrapper {
  position: relative;
  display: inline-block;
}

.choices-unit4-page5-q1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.circle-choice-unit4-page5-q1 {
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s;
  background: white;
  user-select: none;
}

.circle-choice-unit4-page5-q1.active {
  border-color: #8cc2f5;
  font-weight: bold;
}

/* .write-input-unit4-page5-q1 {
  width: 100%;
  border: none;
  border-bottom: 2px solid #888;
  outline: none;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
} */

.wrong-mark {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .question-grid-unit4-page5-q1 {
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 2px;
  }
}

@media (max-width: 1024px) {
  .question-grid-unit4-page5-q1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
