.matching-wrapper2-unit4-p5-q3 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 66px;
    /* margin: 40px auto; */
    width: 50vw;
    flex-direction: column;
    align-items: center;
}



.error-mark4-unit4-p5-q3 {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    vertical-align: middle;
    position: absolute;
    right: 10%;
    top: 8%;
}
.img-unit4-p5-q3{
    height: 200px;
    width: auto;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
    .img-unit4-p5-q3{
    height: 160px;
    width: auto;
}
}
@media (max-width: 912px) {
   .matching-wrapper2-unit4-p5-q3 {
    
    /* margin: 40px auto; */
    width: 100%;
   
}
}