.row-content10-unit4-page5-q2 {
  display: flex;
  margin-bottom: 55px;
  gap: 22px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .row-content10-unit4-page5-q2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .row-content10-unit4-page5-q2 {
    display: flex !important;
    margin-bottom: 55px;
    gap: 5px;
    margin-top: 0px;
  }
}
