.wb-unit7-p2-q2-wrapper {
  width: 70%;
  margin: auto;
}

.wb-unit7-p2-q2-title {
  font-size: 18px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.wb-unit7-p2-q2-letter {
  background: #4aa3df;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: bold;
}

.wb-unit7-p2-q2-questions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wb-unit7-p2-q2-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wb-unit7-p2-q2-number {
  width: 20px;
  font-weight: bold;
   font-size: 20px;
  color: #2c5287;
}

.wb-unit7-p2-q2-question {
  width: 180px;
  font-size: 20px;
  font-weight: 600;
}

.wb-unit7-p2-q2-input {
  flex: 1;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 18px;
  padding: 2px 4px;
}
