.matched-word-wb-unit7-p2-q1 {
  width: 175px;
  font-size: 20px;
  font-weight: 600;
}

.img-with-dot2-wb-unit7-p2-q1 {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
  align-items: center;
}

.span-num2-wb-unit7-p2-q1 {
  font-size: 20px;
  font-weight: 700;
  color: #2c5287;
}
.word-box-wb-unit7-p2-q1 {
    display: inline-block;
    padding: 2px 14px;
    border: 2px solid #4b74ff;
    border-radius: 10px;
    font-size: 16px;
    margin: 0px 5px;
    font-weight: 600;
    background: transparent;
}
.unscramble-input-wb-unit7-p2-q1 {
  /* min-height: 40px; */
  border: 2px dashed #cfcfcf;
  /* padding: 6px 10px; */
  border-radius: 8px;
  transition: all 0.2s ease;
}

.unscramble-input-wb-unit7-p2-q1.active-drop {
  border-color: #1976d2;
  background-color: #e3f2fd;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.2);
}

.unscramble-input-wb-unit7-p2-q1 {
    width: 90%;
    /* padding: 6px 10px; */
    height: 30px;
    border-bottom: 2px solid #000000;
    /* border-radius: 6px; */
    /* margin-top: 8px; */
    font-size: 20px;
}

.matched-word-wb-unit7-p2-q1,
.word-text2-wb-unit7-p2-q1 {
  /* display: inline-block; مهم للـ transform */
  transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;
  /* padding: 4px 6px; */
  border-radius: 6px;
}
/* ✨ Hover animation */
.matched-word-wb-unit7-p2-q1:hover,
.word-text2-wb-unit7-p2-q1:hover {
  transform: scale(1.06);
  background-color: rgba(67, 15, 104, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.matched-word-wb-unit7-p2-q1:active,
.word-text2-wb-unit7-p2-q1:active {
  transform: scale(0.98);
}
.word-bank-wb-unit7-p2-q1{
  height: 30px;
}
.word-text2-wb-unit7-p2-q1 {
    flex: 1;
    font-size: 18px;
    font-weight: 700;
    /* background: #b7eaff; */
    border-radius: 20px;
    font-size: 20px;
    width: 240px;
    text-align: start;
    /* margin-bottom: 6px; */
    border: 2px solid transparent;
}