.content-input-wb-unit7-p3-q2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .answer-input-wb-unit6-p4-q2 {
    width: 61%;
  }
}
