.wb-unit7-p4-q1-canvas {
  border: 3px solid #6ec1ff;
  background: #ffffff;
  border-radius: 12px;
  height: 180px;
  width: 270px;
  box-sizing: border-box;
  cursor: crosshair;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit5-p4-q1-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }
}
