.wb-unit7-p1-q1 {
    position: absolute;
    padding: 5px;
    top: 14.8%;
    left: 31%;
}
.wb-unit7-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 61.8%;
    left: 39%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit7-p1-q1 {
    position: absolute;
    padding: 5px;
    top: 13.8%;
    left: 31%;
}
.wb-unit7-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 60.8%;
    left: 39%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit7-p1-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit7-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit7-p1-q1 {
    top: 14.5%;
  }

  .wb-unit7-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
