.number-option-wb-u7-p1-q2 {
  font-size: 50px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2.5px #333;
  cursor: pointer;
  margin: 0 14px;
  transition: all 0.2s ease;
}

.word-section1-wb-u7-p1-q2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.numbers-row-wb-u7-p1-q2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
