.wrong-icon-review6-p1-q3 {
  color: white;
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: -8px;
    right:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid white;
}

.shape-img-review6-p1-q3 {
  height: 320px;
  width: auto;
}
.q-input-review6-p1-q3 {
    border-bottom: 2px solid #000000;
    padding: 5px 8px;
    /* border-radius: 6px; */
    font-size: 18px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    height: 40px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .shape-img-review6-p1-q3 {
  height: 200px;
  width: auto;
}
}