.click-icon-review5-page1-2 {
  position: absolute;
  padding: 5px;
  top: 11%;
  left: 38.5%;
  cursor: pointer;
}
.click-icon-review5-page1-1 {
  position: absolute;
  padding: 5px;
  bottom: 34.5%;
  left: 40.8%;
  cursor: pointer;
}
.click-icon-review5-page1-3 {
  position: absolute;
  padding: 5px;
  top: 33.2%;
  left: 62.2%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-review5-page1-2 {
    top: 10% !important;
  }
  .click-icon-review5-page1-3 {
    top: 32.2% !important;
  }
  .click-icon-review5-page1-1 {
    bottom: 34% !important;
  }
}
@media (max-width: 1024px) {
  .click-icon-review5-page1-1 {
    bottom: 37%;
    left: 41%;
  }
}
