.shorti-container-review6-p2-q1 {
  /* display: flex; */
  flex-direction: column;
  gap: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.question-box-review6-p2-q1 {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.img-box-review6-p2-q1 {
  width: 120px;
  height: 120px;
  /* border: 2px solid #ccc; */
  /* padding: 10px; */
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}

.img-box-review6-p2-q1 .selected-review6-p2-q1 {
  border-color: #37a3ff;
}

.img-box-review6-p2-q1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.check-box-review6-p2-q1 {
  position: absolute;
  bottom: -12px;
  right: -9px;
  width: 40px;
  height: 40px;
  color: red;
  font-weight: 700;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 8px;
}
.wrong-x-circle-review6-p2-q1 {
  color: white;
  background: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: -17px;
  right: -27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid white;
  z-index: 99;
}
.main-img-review6-p2-q1 {
  height: 150px;
}
.options-review6-p2-q1 {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  justify-content: space-around;
}

.option-review6-p2-q1 {
  padding: 10px 16px;
  /* border: 2px solid #ccc; */
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 600;
}

.option-review6-p2-q1.selected-review6-p2-q1 {
  border-color: #2c5287;
  /* background: #e6f0ff; */
}

.option-label {
  margin-right: 10px;
}

.question-box2-review6-p2-q1 {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .main-img-review6-p2-q1 {
    height: 120px;
  }
}
