.headset-icon-CD-unit5-page1-1,
.click-icon-unit5-page1-1,
.headset-icon-CD-unit5-page1-2,
.click-icon-unit5-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
}

.headset-icon-CD-unit5-page1-1 {
  top: 7%;
  right: 8.5%;
}

.click-icon-unit5-page1-1 {
  left: 19%;
  top: 37%;
}

.headset-icon-CD-unit5-page1-2 {
  bottom: 38%;
  left: 26%;
}

.click-icon-unit5-page1-2 {
  bottom: 10.5%;
  right: 38%;
}

#num-1-unit5 {
  top: 20%;
  left: 25.5%;
}

#num-2-unit5 {
  top: 21%;
  right: 53%;
}

#num-3-unit5 {
  top: 53%;
  left: 56.5%;
}

#num-4-unit5 {
  top: 31%;
  right: 59%;
}

#num-5-unit5 {
  top: 28%;
  right: 39%;
}

#num-6-unit5 {
  bottom: 59%;
  right: 38%;
}

#num-7-unit5 {
  left: 42%;
  bottom: 48.5%;
}

#num-8-unit5 {
  left: 20%;
  top: 32.5%;
}

.highlight-svg-unit5 {
  position: absolute;
  top: 22%;
  left: 40.5%;
  height: 25.5%;
  pointer-events: none;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .headset-icon-CD-unit5-page1-1 {
    top: 7% !important;
    right: 5.5% !important;
  }
  .click-icon-unit5-page1-1 {
    left: 21% !important;
    top: 38% !important;
  }
  .headset-icon-CD-unit5-page1-2 {
    bottom: 36.5% !important;
    left: 27% !important;
  }
  .click-icon-unit5-page1-2 {
    bottom: 9% !important;
    right: 35% !important;
  }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit5-page1-1 {
    top: 6%;
    right: 11.5%;
  }
  .click-icon-unit5-page1-1 {
    left: 19%;
    top: 36%;
  }
  .headset-icon-CD-unit5-page1-2 {
    bottom: 41.5%;
    left: 25%;
  }
  .click-icon-unit5-page1-2 {
    bottom: 14%;
    right: 42%;
  }
  .highlight-svg-unit5 {
    position: absolute;
    top: 25%;
    left: 39.5%;
    height: 20.5%;
    pointer-events: none;
  }
}

@media (max-width: 820px) {
  .headset-icon-CD-unit5-page1-2 {
    bottom: 40.5%;
    left: 25%;
  }
  .click-icon-unit5-page1-2 {
    bottom: 13%;
    right: 41%;
  }
}
