.content-unit5-p5-q3{
 display: flex;
    /* justify-content: space-around; */
    width: 100%;
}

.group-input-unit5-p5-q3{
display: flex;
flex-direction: column;
width: 100%;
}
.question-text-unit5-p5-q3 {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}
.q-input-unit5-p5-q3 {
    border-bottom: 2px solid #000000;
    padding: 5px 8px;
    /* border-radius: 6px; */
    font-size: 18px;
    width:100%;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    height: 40px;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
 .content-unit5-p5-q3 {

    flex-direction: row !important;
} 
}