.unit5-wrapper {
  width: 90%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.answer-input-unit5-p6-q1 {
  border-bottom: 2px solid black;
  width: 160px;
  height: 40px;
  position: relative;
}
.img-unit5-p6-q1 {
  height: 150px;
  width: auto;
}

.section-one-unit5-p6-q1 {
  display: flex;
  align-items: center;
}
.section-two-unit5-p6-q1 {
  display: flex;
  align-items: center;
}
.section-three-unit5-p6-q1 {
  display: flex;
  align-items: center;
}
.section-four-unit5-p6-q1 {
  display: flex;
  align-items: center;
}

.content-input-unit5-p6-q1 {
  display: flex;
  flex-direction: column;
}

.content-container-unit5-p6-q1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 43px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .content-container-unit5-p6-q1 {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 72px;
  }
  .img-unit5-p6-q1 {
    height: 75px;
    width: auto;
  }
}

@media (max-width: 1024px) {
  .content-container-unit5-p6-q1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
