.gk-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 20px;
}

.gk-item {
  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gk-image {
  width: 100px;
  height: 100px;
  /* object-fit: contain; */
}
.wrong-mark-Unit5_Page5_Q1 {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.gk-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.gk-option {
  font-size: 28px;
  position: relative;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 6px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.gk-option.selected3 {
  border: 2px solid #1d4f7b;
  font-weight: bold;
  border-color: #1d4f7b;
}
.gk-option:hover {
  transform: scale(1.2);
}
