.container-word-grid-wb-unit10-p5-q2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* gap: 70px; */
    margin-top: 30px;
}

.word-btn-wb-unit10-p5-q2 {
    display: grid;
    flex-direction: column;
    /* gap: 20px; */
    grid-template-columns: 1fr 1fr;
}

.cell-wb-unit10-p5-q2 {
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.word-label-wb-u10-p5-q2{
    width: 160px;
    height: auto;
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
    background: white;
    position: relative;
    justify-content: center;
    flex-direction: column;
}
.cell-wb-unit10-p5-q2.highlight {
    background-color: #cdfffa;
    border: 2px solid rgb(0, 179, 255);
}


.cell-wb-unit10-p5-q2.found {
    background-color: #dcffcd;
    border: 2px solid green;
    font-weight: bold;
}


.wrong-x-circle-wb-unit10-p5-q2 {
    position: absolute;
    right: 22px;
    top: -1%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid white;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
    .cell-wb-unit10-p5-q2 {
    width: 44px;
    height: 40px;
  
}
}