.wb-unit10-p4-q1-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 10px; */
  width: 100%;
  /* justify-content: space-around; */
}

.wb-unit10-p4-q1-text {
  font-size: 18px;
  font-weight: 500;
}

.wb-unit10-p4-q1-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 6px 0;
}

.wb-unit10-p4-q1-grid {
  display: grid;
  width: 100%;
  /* gap: 20px; */
  grid-template-columns: repeat(2, 1fr);
}

.wb-unit10-p4-q1-img {
  width: 120px;
  height: auto;
  border-radius: 8px;
  /* margin-bottom: 12px; */
}
.wb-unit10-p4-q1-input {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  border: 2px solid rgb(0, 179, 255);
  border-radius: 6px;
}
.wb-unit10-p4-q1-input {
  cursor: pointer;
  color: red;
  font-size: 30px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit10-p4-q1-img {
    width: 100px;
    height: auto;
  }
  .wb-unit10-p4-q1-text {
    font-size: 16px;
    font-weight: 500;
  }
  .wb-unit10-p4-q1-input {
    width: 30px;
    height: 30px;
  }
}
