.row2-wb-unit10-p4-q2 {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.sentence-wrapper-wb-unit10-p4-q2 {
    display: flex;
    gap: 8px;
    font-size: 18px;
    width: 100%;
    flex-direction: row;
}

.sentence-text-wb-unit10-p4-q2 {
    font-size: 20px;
    width: 100px;
    font-weight: 500;
    color: #333;
    flex-grow: 1;
}





