.wb-unit10-p6-q2-word-box {
  /* background: #e8f4ff; */
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 15px 20px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.wb-unit10-p6-q2-word.circled {
  /* border: 2px solid #1c7ed6; */
  padding: 3px 10px;
  border-radius: 10px;
  /* background: #d0ebff; */
}

.wb-unit10-p6-q2-word {
    font-size: 18px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}