.sentence-text-wb-unit10-p5-q1 {
    font-size: 20px;
    /* width: 100px; */
    font-weight: 500;
    color: #333;
}

.row2-wb-unit10-p5-q1 {
    display: flex;
    /* gap: 20px; */
    flex-direction: column;
    align-items: center;
}

.sentence-wrapper-wb-unit10-p5-q1 {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 6px;
    font-size: 18px;
    width: 100%;
}

.q-img-wb-unit10-p5-q1 {
    width: auto;
    height: 130px;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
    .q-img-wb-unit10-p5-q1 {
  
    height: 105px;
}
}