.unscramble-box-wb-unit10-p6-q1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.img-box-wb-unit10-p6-q1 {
  display: flex;
}

.unscramble-row-wb-unit10-p6-q1 {
  display: grid;
  gap: 20px;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.img-wb-unit10-p6-q1{
    height: 130px;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .unscramble-row-wb-unit10-p6-q1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .img-wb-unit10-p6-q1{
    height: 110px;
}
}
