.wb-unit10-p1-q1 {
    position: absolute;
    padding: 5px;
    top: 14.5%;
    left: 57%;
}
.wb-unit10-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 53.8%;
    left: 31%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit10-p1-q1 {
    position: absolute;
    padding: 5px;
    top: 13.5%;
    left: 57%;
}
.wb-unit10-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 52.8%;
    left: 31%;
}

}
/* @media (max-width: 1024px) {
  .wb-unit10-p1-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit10-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit10-p1-q1 {
    top: 14.5%;
  }

  .wb-unit10-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
