.content-container-wb-unit10-p1-q2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 30px;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .content-container-wb-unit10-p1-q2 {
    gap: 0px;
  }
}
