.error-mark4-wb-u1-p4-q2 {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  vertical-align: middle;
  position: absolute;
  right: 8%;
  top: -15%;
}

.word-text-unit1-p4-q2{
  width: 240px !important;
}


@media (max-width: 1024px) {
.word-text-unit1-p4-q2{
  width: 170px!important;
}

}
