.container1 {
  margin: auto;
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.word-wb-u1-p2-q1 {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
}

.word-bank-wb-u1-q4 {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: 20px;
  margin: 20px;
}
.question-container-wb-u1-p4-q1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
      gap: 20px;
}
.matching-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  position: relative;
}

/* الكلمة + النقطة */
.word-with-dot {
  display: flex;
  align-items: center;
  /* width: 32%; */
  gap: 10px;
}

.matching-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}


.img-wb-unit1-p4-q1{
  height: 150px;
  width: auto;
}


@media (max-width: 1180px) {
.img-box-wb-u1-q4{
  flex-direction: column;
}
.word-bank-wb-u1-q4 {

    font-size: 18px;
    margin: 0px;
}
.img-wb-unit1-p4-q1{
  height: 100px;
  width: auto;
}
}

.word-bank-wb-u1-p4-q1{
    display: flex;
    gap: 5px;
    /* margin: 15px 0 25px; */
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0px;
}


/* ⭐ تم إضافتها */
.wrong-icon-wb-u1-p4-q1 {
    position: absolute;
    top: 30%;
    right: -6%;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}