.wb-unit1-p4-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 39%;
}

.wb-unit1-p4-q2 {
  position: absolute;
  padding: 5px;
  top: 47.5%;
  left: 43%;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit1-p4-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
  }
  .wb-unit1-p4-q2 {
  
    top: 46.5%;
  }
}
