.grid-wb-u1-p6-q2 {
  display: inline-block;
  border: 2px solid #999;
}

.row-wb-u1-p6-q2 {
  display: flex;
}

.cell-wb-u1-p6-q2 {
  width: 70px;
  height: 45px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.cell-wb-u1-p6-q2.highlight {
  background-color: #cdfffa;
  border: 2px solid rgb(0, 179, 255);
}


.cell-wb-u1-p6-q2.found {
 
  background-color: #dcffcd;
  border: 2px solid green;
  font-weight: bold;
}

.word-list-wb-u1-p6-q2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

/* .word-btn-wb-u1-p6-q2 {
  padding: 8px 16px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #2c5287;
  background: #fff;
} */

.container-word-grid-wb-u1-p6-q2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.word-btn-wb-u1-p6-q2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.word-btn-wb-u1-p6-q2.selected {
  background-color: #d6e4ff;
  border-color: blue;
}


.word-label-wrapper-wb-u1-p6-q2 {
  width: 160px;              /* عرض ثابت مثل الصورة */
  height: 45px;              /* ارتفاع قريب من الصورة */
  border: 2px solid #000;    /* خط أسود */
  border-radius: 12px;       /* زوايا ناعمة */
  
  display: flex;             /* لتمركز النص */
  justify-content: center;
  align-items: center;
  
  font-size: 18px;           /* حجم خط مشابه */
  font-weight: 500;
  color: black;
  background: white;
  
  margin: 12px 0;            /* مسافة بين الكلمات */
  position: relative;        /* للسماح بوضع علامة X لاحقاً */
}

.word-label-wb-u1-p6-q2 {
  pointer-events: none;      /* لا نريد تفاعل مع النص فقط */
}



/* دائرة X للكلمة الخطأ */
.wrong-x-circle-wb-u1-p6-q2 {
  position: absolute;
  right: -12px;       /* يظهر بجانب الصندوق */
  top: -3%;
  transform: translateY(-50%);
  
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 14px;
  font-weight: bold;
}
