.wb-unit1-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 39.5%;
}

.wb-unit1-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 62.5%;
  left: 50%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit1-p5-q1 {
  
    top: 2.5%;
  }
  .wb-unit1-p5-q2 {
    top: 61.5%;
  }
}
