

.sentence-container-wb-u1-p5-q2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 60%;
  margin-bottom: 75px;
  position: absolute;
  top: 15%;
  left: 27%;
  flex-wrap: wrap;
  justify-content: space-between;
}


.circled-wb-u1-p5-q2{
  border: 2px solid red;
  border-radius: 50%;
}
