.word-box-wb-u1-p8-q2 {
  display: inline-block;
  padding: 8px 18px;
  border: 2px solid #444;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
  font-weight: 600;

  background: #fff;
}

.sorting-table-wb-u1-p8-q2 {
  width: 60%;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 20px;
}

.missing-input-wb-unit1-p8-q2 {
    width: 90%;
    /* border: none; */
    border-bottom: 2px solid black;
    margin: 0 6px;
    font-size: 25px;
    text-align: center;
    height: 40px;
    /* outline: none; */
}
.sorting-table-wb-u1-p8-q2 th {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  background: #f3f3f3;
}
.sorting-table-wb-u1-p8-q2 tbody {
  border: 2px solid black;
  height: 200px;
}
.sorting-table-wb-u1-p8-q2 td {
  border-right: 2px solid black;
  height: 40px;
  text-align: center;
}

.table-word-wb-u1-p8-q2 {
  font-weight: 600;
}

.page8-wrapper-wb-u1-p8-q2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-div-wb-u1-p8-q2 {
  display: flex;
  justify-content: center;
}

.word-bank-wb-u1-p8-q2 {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 15px 0;
  align-items: center;
  justify-content: center;
}

.action-buttons-container-wb-u1-p8-q2 {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.try-again-button-wb-u1-p8-q2,
.show-answer-btn-wb-u1-p8-q2,
.check-button2-wb-u1-p8-q2 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.input-cell-wb-u1-p8-q2 {
  width: 90%;
  font-size: 18px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.411);
  outline: none;
  text-align: center;
}

.wrong-x-circle-wb-u1-p8-q2 {
  position: absolute;
  top: 4px;
  right: 12px;
  background: red;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}



@media screen and (max-width: 1024px) and (max-height: 600px) {
  .word-bank-wb-u1-p8-q2 {
    flex-wrap: nowrap;
    gap: 2px;
  }
  .word-box-wb-u1-p8-q2 {
    font-size: 16px;
  }
}
