.word-pair-box-review10-p2-q1{
 display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}


.word-text-review10-p2-q1 {
  min-width: 60px;
  text-align: center;
}
.review10-p2-q1-container {
    display: grid;
    gap: 20px;
    justify-items: center;
    margin-bottom: 60px;
    /* margin-top: 20px; */
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.review10-p2-q1-flex {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}
.review10-p2-q1-question-box {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
}