.sentence-review10-p2-q3 {
  text-align: center;
  display: flex;
  margin-top: 35px;
  font-size: 25px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.input-wrapper-review10-p2-q3 {
    position: relative;
    display: inline-block;
    /* width: 100%; */
}
.word-bank-review10-p2-q3 {
    display: flex;
    gap: 5px;
    margin: 15px 0 25px;
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.letter-input-review10-p2-q3 {
    border-bottom: 2px solid black;
    width: 100px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.middle-img-review10-p2-q3  {
    width: auto;
    height: 125px;
    margin: 0 8px;
}
.missing-input-review10-p2-q3{
  width: 50px;
  border: none;
  border-bottom: 2px solid black;
  margin: 0 6px;
  font-size: 25px;
  text-align: center;
}
