.click-icon-review10-page2-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 2.8%;
  right: 12.5%;
  cursor: pointer;
}

.click-icon-review10-page2-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 27.5%;
  left: 53.5%;
  cursor: pointer;
}
.click-icon-review10-page2-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 23%;
  left: 39.5%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-review10-page2-2 {
    top: 1.8%;
    right: 10.5%;
  }
  .click-icon-review10-page2-3 {
    top: 22%;
    left: 39.5%;
  }
  .click-icon-review10-page2-1 {
    bottom: 26.5%;
    left: 52.5%;
  }
}
