.container-review9-p1-q1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
        justify-items: center;
}

.question-box-review9-p1-q1  {
    display: flex;
    /* gap: 15px; */
    align-items: flex-start;
    flex-direction: row;
}