.review9-p1-q3-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.review9-p1-q3-grid {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
  flex-direction: row;
}
.review9-p1-q3-text {
    font-size: 22px;
}
.review9-p1-q3-img {
    width: 120px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .review9-p1-q3-text {
    font-size: 18px;
}
.review9-p1-q3-img {
    width: 90px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
}
}
@media (max-width: 1024px) {
  .review9-p1-q3-grid {
    flex-direction: column;
    align-items: center;
  }
}
