.click-icon-review9-page1-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 11%;
  left: 39%;
  cursor: pointer;
}

.click-icon-review9-page1-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
    bottom: 23%;
    left: 42%;
  cursor: pointer;
}
.click-icon-review9-page1-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 48%;
    left: 43.5%;
  cursor: pointer;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-review9-page1-2 {
    position: absolute;
    padding: 5px;
    top: 10%;
  }
  .click-icon-review9-page1-1 {

    bottom: 22%;
  }
}