.error-mark-review10-p1-q1 {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    vertical-align: middle;
    position: absolute;
    left: 91%;
    top: -8%;
    z-index: 99;
}

.matching-row-review10-p1-q1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px 0px; */
    position: relative;
}


.word-with-dot-review10-p1-q1 {
    display: flex;
    align-items: center;
    width: 49%;
    gap: 10px;
}


.width-span-review10-p1-q1{
    font-size: 20px;
    font-weight: 500;
    width: 75%;
}


@media (max-width: 1024px) {
.width-span-review10-p1-q1{
    
    width: 100%;
}
}
