.wb-unit8-p5-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 35%;
}
.wb-unit8-p5-q2 {
    position: absolute;
    padding: 5px;
    top: 57.5%;
    left: 31%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit8-p5-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 35%;
}
.wb-unit8-p5-q2 {
    position: absolute;
    padding: 5px;
    top: 56.5%;
    left: 31%;
}

}
/* @media (max-width: 1024px) {
  .wb-unit8-p5-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit8-p5-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit8-p5-q1 {
           top: 14.5%;
    
  }

  .wb-unit8-p5-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
