.content-container-wb-unit8-p4-q1 {
  display: grid;
  justify-items: center;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.sentence-wrapper-wb-unit8-p4-q1 {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  width: 100%;
}


.wb-unit8-p4-q1-canvas {
    border: 3px solid #6ec1ff;
    background: #ffffff;
    border-radius: 12px;
    height: 160px;
    width: 290px;
    box-sizing: border-box;
    cursor: crosshair;
}

.row2-wb-unit8-p4-q1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}