.unscramble-row-wb-unit8-p6-q1 {
  display: grid;
  gap: 50px;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  /* margin-top: 20px; */
  grid-template-columns: repeat(2, 1fr);
}
.img-box img {
    width: 150px;
    height: 150px;
    /* object-fit: fill; */
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .unscramble-row-wb-unit8-p6-q1 {
    gap: 17px;
    margin-top: 0px;
  }
}
