.wb-unit8-p6-q1 {
    position: absolute;
    padding: 5px;
    top: 9.5%;
    left: 64.5%;
}

.wb-unit8-p6-q2 {
    position: absolute;
    padding: 5px;
    top: 35%;
    left: 21%;
}
.wb-unit8-p6-q3 {
    position: absolute;
    padding: 5px;
    top: 61%;
    left: 39%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit8-p6-q1 {
    position: absolute;
    padding: 5px;
    top: 8.5%;
    left: 64.5%;
}

.wb-unit8-p6-q2 {
    position: absolute;
    padding: 5px;
    top: 34%;
    left: 21%;
}
.wb-unit8-p6-q3 {
    position: absolute;
    padding: 5px;
    top: 60%;
    left: 39%;
}

}
/* @media (max-width: 1024px) {
  .wb-unit8-p6-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit8-p6-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit8-p6-q1 {
    top: 14.5%;
  }

  .wb-unit8-p6-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
