.matched-word-wb-unit7-p2-q1 {
  width: 175px;
  font-size: 20px;
  font-weight: 600;
}

.img-with-dot2-wb-unit7-p2-q1 {
  display: flex;
  /* justify-content: center; */
  gap: 10px;
  align-items: center;
}

.span-num2-wb-unit7-p2-q1 {
  font-size: 20px;
  font-weight: 700;
  color: #2c5287;
}
