

.container-wb-unit8-p3-q2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
}

.q3-image-wb-unit8-p3-q2{
    
    height: 150px;
    width: auto;

}
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .container-wb-unit8-p3-q2 {
    
    gap: 0px;
}
.q3-image-wb-unit8-p3-q2{
    
    height: 110px;
    width: auto;

}
}