.sentence-container-wb-unit8-p5-q1 {
  display: flex;
  gap: 20px;
  border: 2px solid black;
  border-radius: 8px;
  width: 100%;
  padding: 10px;
}

.word-container-wb-unit8-p5-q1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.wb-unit8-p5-q1-box {
  position: relative;
  width: 160px;
  height: 150px;
  border: 2px solid #999;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.look-number-wrapper {
  display: flex;
  justify-content: center;
}

.image-area {
  position: relative;
  width: 500px;
}

.image-area img {
  width: 100%;
  display: block;
}

.number-input {
  position: absolute;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #000;
  border-radius: 6px;
  background: #fff;
}

.wrong-circle {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background: red; /* أحمر */
  color: white;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  border: 2px solid white;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .sentence-container-wb-unit8-p5-q1 {
    padding: 3px;
  }
  .word-container-wb-unit8-p5-q1 {
    gap: 3px;
  }
}
