.wb-unit8-p2-q1 {
    position: absolute;
    padding: 5px;
    top: 6%;
    left: 27%;
}
.wb-unit8-p2-q2 {
    position: absolute;
    padding: 5px;
    top: 56.8%;
    left: 46.2%;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit8-p2-q1 {
    position: absolute;
    padding: 5px;
    top: 5%;
    left: 27%;
}
.wb-unit8-p2-q2 {
    position: absolute;
    padding: 5px;
    top: 55.8%;
    left: 46.2%;
}

}
/* @media (max-width: 1024px) {
  .wb-unit8-p2-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit8-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit8-p2-q1 {
    top: 14.5%;
  }

  .wb-unit8-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
