.wb-unit8-p1-q1 {
    position: absolute;
    padding: 5px;
    top: 14.8%;
    left: 35.5%;
}
.wb-unit8-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 50.5%;
    left: 31%;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit8-p1-q1 {
    position: absolute;
    padding: 5px;
    top: 13.8%;
    left: 35.5%;
}
.wb-unit8-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 49.5%;
    left: 31%;
}

}
/* @media (max-width: 1024px) {
  .wb-unit8-p1-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit8-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit8-p1-q1 {
    top: 14.5%;
  }

  .wb-unit8-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
