.img-box-wb-unit2-p6-q2 {
  width: 100px;
  height: 130px;
  /* border-radius: 50%; */
  /* padding: 5px; */
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}
.content-container-wb-p6-q2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.images-row-wb-unit2-p6-q2 {
  display: flex;
  gap: 15px;
  border: 3px solid #5acbf4;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .img-box-wb-unit2-p6-q2 {
    width: 100px;
    height: 100px;

}
}
@media (max-width: 820px) {
  .content-container-wb-p6-q2 {
    grid-template-columns: 1fr;
  }
}
