.wb-unit2-p6-q1 {
    position: absolute;
    padding: 5px;
    top: 9.5%;
    left: 43%;
}

.wb-unit2-p6-q2 {
    position: absolute;
    padding: 5px;
    top: 56.5%;
    left: 89%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit2-p6-q1 {
    position: absolute;
    padding: 5px;
    top: 8.5%;
    left: 43%;
}

.wb-unit2-p6-q2 {
    position: absolute;
    padding: 5px;
    top: 55.5%;
    left: 89%;
}

}
/* @media (max-width: 1024px) {
  .wb-unit2-p6-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit2-p6-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
 .wb-unit2-p6-q1 {
        top: 9.5%;
        left: 44%;
    }

     .wb-unit2-p6-q2 {
        top: 56.5%;
        left: 90%;
    }
} */
