.wb-unit2-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 35%;
}

.wb-unit2-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 39%;
}
.img-box-wb-u2-p3-q1 {
  width: 150px;
  height: 150px;
  /* border: 2px solid #ccc; */
  /* padding: 10px; */
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.check-box-wb-u2-p3-q1 {
    position: absolute;
    bottom: 10px;
    right: 9px;
    width: 40px;
    height: 40px;
    color: red;
    font-weight: 700;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 8px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit2-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 2.5% ;
  left: 35%;
}

.wb-unit2-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 44.5%;
  left: 39%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit2-p3-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit2-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
.wb-unit2-p3-q1 {
        top: 3.5%;
        left: 35%;
    }

     .wb-unit2-p3-q2 {
        top: 45%;
        left: 40%;
    }
} */
