.wb-unit2-p6-q1-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6px 0;
}

.wb-unit2-p6-q1-text {
  font-size: 20px;
  font-weight: 500;
}

.wb-unit2-p6-q1-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 100%;
}

.wb-unit2-p6-q1-img {
  width: auto;
  height: 130px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit2-p6-q1-grid {
    gap: 5px;
  }
  
.wb-unit2-p6-q1-img {
  width: auto;
  height:90px;
}

}
