.row-content10-wb-unit2-page3-q2 {
  display: grid;
  /* margin-bottom: 55px; */
  gap: 22px;
  /* margin-top: 20px; */
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.q-img-wb-unit2-page3-q2 {
  width: auto;
  height: 170px;
}
/* .word-bank-wb-unit2-page3-q2 {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 15px 0;
  align-items: center;
  justify-content: center;
} */

.word-bank-wb-unit2-page3-q2 {
    display: flex;
    gap: 5px;
    /* margin: 15px 0 25px; */
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    justify-content: center;
    border-radius: 8px;
    /* padding: 10px; */
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}
.error-mark-input-wb-unit2-page3-q2 {
  position: absolute;
  top: 3px;
  right: -10px;
  width: 26px;
  height: 26px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999999;
  border: 2px solid white;
}


.q-input-wb-unit2-page3-q2  {
    border-bottom: 2px solid #000000;
    padding: 5px 8px;
    /* border-radius: 6px; */
    font-size: 25px;
    width: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    height: 40px;
}
@media (max-width: 1024px) {
  .word-bank-wb-unit2-page3-q2 {
    flex-wrap: nowrap;
    margin: 0px 0;
  }
  .row-content10-wb-unit2-page3-q2 {
    display: grid;
    /* margin-bottom: 55px; */
    gap: 2px;
  }
}
