
.draw-canvas-wb-u2-q1 {
    width: 100%;
    height: 400px;
    border: 2px solid #ccc;
    touch-action: none;
    cursor: crosshair;
}

.avatar-img-wb-u2-q1 {
    width: auto;
    height: 150px;
}

.word-bank-wb-u2-q1 {
    display: flex;
    gap: 5px;
    /* margin: 15px 0 25px; */
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}


@media (max-width: 1024px) {
  .img-box-wb-u1-q2 {
    width: 164px;
    height: 173px;
  }
.avatar-img-wb-u2-q1 {
    width: auto;
    height: 110px;
}
  .question-row-unit7-p2-q3 {

    margin-bottom: 0px;
   
}
}
