.wb-unit2-p2-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 41%;
}

.wb-unit2-p2-q2 {
    position: absolute;
    padding: 5px;
    top: 53.8%;
    left: 83%;
}

.draw-canvas-wb-unit2-p2-q2 {
  width: 500px;
  height: 300px; /* كبير متل ما بدك */
  border: 2px solid #ccc;
  touch-action: none;
  cursor: crosshair;
}

.canvas-wrapper-wb-unit2-q2 {
  position: relative;
  width: 500px;
  height: 150px;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit2-p2-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 41%;
}

.wb-unit2-p2-q2 {
    position: absolute;
    padding: 5px;
    top: 52.8%;
    left: 83%;
}

}

/* @media (max-width: 1024px) {
  .wb-unit2-p2-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit2-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
 .wb-unit2-p2-q1 {
        top: 3%;
    }

.wb-unit2-p2-q2 {
        top: 53.5%;
        left: 83%;
    }
} */
