.headset-icon-CD-unit2-page11-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
  top: 5%;
  left: 22%;
}

.pauseBtn-icon-CD-page21 {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 5px;
  top: 5%;
  left: 27%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .headset-icon-CD-unit2-page11-1 {
    top: 5% !important;
    left: 21% !important;
  }
  .pauseBtn-icon-CD-page21 {
    top: 5% !important;
    left: 26% !important;
  }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit2-page11-1 {
    top: 4%;
    left: 20%;
  }
  .pauseBtn-icon-CD-page21 {
    top: 4%;
    left: 25%;
  }
}

@media (max-width: 820px) {
  .headset-icon-CD-unit2-page11-1 {
    top: 5%;
    left: 20%;
  }
  .pauseBtn-icon-CD-page21 {
    left: 25%;
    top: 5%;
  }
}
