.error-mark8-u2-p19-q2 {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    vertical-align: middle;
    position: absolute;
    left: 20%;
    top: 0%;
    z-index: 99;
}