.headset-icon-CD-unit2-page2-1,
.click-icon-unit2-page2-1,
.headset-icon-CD-unit2-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit2-page2-1 {
  top: 5.5%;
  right: 1%;
}

.headset-icon-CD-unit2-page2-2 {
  bottom: 27%;
  right: 6%;
}

.click-icon-unit2-page2-1 {
  bottom: 11.5%;
  right: 37%;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
      .headset-icon-CD-unit2-page2-1 {
        top: 5.5% !important;
        right: -2% !important;
    }
    .headset-icon-CD-unit2-page2-2 {
        bottom: 24.5% !important;
        right: 3% !important;
    }
        .click-icon-unit2-page2-1 {
        bottom: 9% !important;
        right: 33% !important;
    }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit2-page2-1 {
    top: 3.5%;
    right: 4%;
  }
  .headset-icon-CD-unit2-page2-2 {
    bottom: 30.5%;
    right: 11%;
  }
  .click-icon-unit2-page2-1 {
    bottom: 15%;
    right: 41%;
  }
}
@media (max-width: 820px) {
  .headset-icon-CD-unit2-page2-1 {
    top: 5%;
    right: 2%;
  }
  .headset-icon-CD-unit2-page2-2 {
    bottom: 28.5%;
    right: 8%;
  }
  .click-icon-unit2-page2-1 {
    bottom: 13.5%;
    right: 40%;
  }
}
