.content-container-P90-Q1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin: 55px 0px; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.p9-q1-img {
  height: auto;
  width: 170px;
}

.answer-input {
  border-bottom: 2px solid;
  text-align: center; /* توسيط أفقي */
  vertical-align: middle; /* توسيط عمودي */
  line-height: normal;
  font-size: 22px;
  font-weight: 500;
  width: 95%;
}
/* خلي المربع position relative */
.drop-slot-inline-unit2-p8-q2 {
  position: relative;
 width:300px;
  min-height: 36px;
}

/* دائرة حمرا + X أبيض */
.error-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  background-color: #e53935; /* أحمر */
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: none;
}

.section-one {
  display: flex;
  align-items: center;
}

.section-two {
  display: flex;
  align-items: center;
}

.content-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 21px;
}

.error-mark-input1 {
  position: absolute;
  top: -13px;
  right: 9px;
  width: 26px;
  height: 26px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999999;
  border: 2px solid white;
}

@media screen and (max-width: 1024px) and(max-height : 600px) {
  .p9-q1-img2 {
    height: auto;
    width: 110px !important;
  }
}
