.click-icon-unit2-page7-1 {
  position: absolute;
  padding: 5px;
  top: 10.9%;
  left: 30%;
  cursor: pointer;
}
.click-icon-unit2-page7-2 {
  position: absolute;
  padding: 5px;
  top: 59.5%;
  left: 40%;
  cursor: pointer;
}
.click-icon-unit2-page7-3 {
  position: absolute;
  padding: 5px;
  bottom: 6.8%;
  left: 48.5%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-unit2-page7-1 {
    top: 9.9% !important;
  }
  .click-icon-unit2-page7-2 {
    top: 58.5%;
    left: 40%;
  }
  .click-icon-unit2-page7-3 {
    bottom: 6.5%;
  }
}
@media (max-width: 1024px) {
  .click-icon-unit2-page7-3 {
    bottom: 6.5% !important;
  }
}
@media (max-width: 820px) {
  .click-icon-unit2-page7-1 {
    top: 11.5%;
  }
  .click-icon-unit2-page7-2 {
    top: 60%;
  }
  .click-icon-unit2-page7-3 {
    bottom: 8.5%;
    left: 48.5%;
  }
}
