.page10-q3-container {
  /* width: 90%; */
  margin-bottom: 30px;
  /* text-align: center; */
}

.instruction-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #2c5287;
  margin-bottom: 25px;
}

/* كل سؤال */
.questions-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-direction: row !important;
  /* flex-wrap: wrap; */
  /* width: 50vw; */
  margin-top: 50px;
  margin-bottom: 20px;
}

.question-box {
  border: 2px solid #92ccff;
  border-radius: 10px;
  padding: 15px 25px;
  width: 50%;
  background-color: #f9fcff;
  position: relative;
}

/* رقم السؤال */
.question-number {
  position: absolute;
  top: 5px;
  left: 10px;
  background: white;
  font-weight: bold;
  color: #2c5287;
  /* border: 2px solid #92ccff; */
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* الصور */
.images-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.question-img-unit2-p10-q3 {
  width: 110px;
  height: auto;
}

/* الأحرف b و p */
.options-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.option-letter.selected3 {
  border-color: #2c5287;
  transform: scale(1.1);
}

.option-letter {
  position: relative;
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
border: 2px solid transparent;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.wrong-x10-3 {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  font-size: 14px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  font-weight: bold;
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
      .questions-grid {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap !important;
        /* width: 50vw; */
        flex-direction: row !important;
    }
    .question-img-unit2-p10-q3 {
    width: 75px;
    height: auto;
}
}
/* Responsive */
@media (max-width: 1024px) {
  .question-box {
    width: 80%;
  }
  .question-img {
    width: 80px;
    height: auto;
  }
  .questions-grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 50vw; */
  }
}

@media (max-width: 540px) {
  .question-img-unit2-p10-q3 {
    width: 80px;
  }

  .questions-grid {
    flex-wrap: nowrap;
  }
}
