.custom-popup {
  border-radius: 25px !important;
  padding: 0 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}

.custom-popup-content {
  padding: 25px;
  text-align: center;
}

.custom-popup-content h2 {
    font-size: 25px;
    color: black;
}
.swal2-actions{
        display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.prev-btn {
  display: flex;
  align-items: center;
  /* gap: 8px; */
  font-size: 14px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* ⭐ الزر الطافي */
.prev-btn.disabled,
.prev-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
