.content-unit5-p5-q3{
 display: flex;
    justify-content: space-around;
    width: 100%;
}

.group-input-unit5-p5-q3{
display: flex;
flex-direction: column;
}

.q-input-unit10-p5-q3 {
    border-bottom: 2px solid #000000;
    padding: 5px 8px;
    /* border-radius: 6px; */
    font-size: 18px;
    width: 80%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}

.word-bank-unit10-p5-q3{
    display: flex;
    gap: 5px;
    margin: 15px 0 25px;
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}