.headset-icon-CD-unit10-page1-1,
.click-icon-unit10-page1-1,
.headset-icon-CD-unit10-page1-2,
.click-icon-unit10-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
}

.headset-icon-CD-unit10-page1-1 {
  top: 6.5%;
  right: 10.5%;
}

.click-icon-unit10-page1-1 {
  left: 20%;
  top: 42%;
}

.headset-icon-CD-unit10-page1-2 {
  bottom: 38.5%;
  left: 26%;
}

.click-icon-unit10-page1-2 {
  bottom: 10.5%;
  right: 38%;
}

#num-1-unit10 {
  top: 50%;
  left: 25.5%;
}

#num-2-unit10 {
  top: 35%;
  right: 53%;
}

#num-3-unit10 {
  top: 34%;
  left: 22%;
}

#num-4-unit10 {
  top: 47%;
  right: 58%;
}
#num-5-unit10 {
  top: 25%;
  right: 77%;
}

#num-6-unit10 {
  bottom: 71%;
  right: 85%;
}

#num-7-unit10 {
  left: 20.5%;
  bottom: 77.5%;
}
#num-8-unit10 {
  left: 49%;
  top: 43.5%;
}

#num-9-unit10 {
  left: 67%;
  bottom: 50.5%;
}
#num-10-unit10 {
  left: 52%;
  top: 20.5%;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .headset-icon-CD-unit10-page1-1 {
        top: 6.5% !important;
        right: 7.5% !important; 
    }
        .headset-icon-CD-unit10-page1-2 {
        bottom: 36.5% !important;
        left: 27% !important;
    }
        .click-icon-unit10-page1-2 {
        bottom: 8.5% !important;
        right: 35% !important;
    }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit10-page1-1 {
    top: 5.5%;
    right: 13.5%;
}
.headset-icon-CD-unit10-page1-2 {
    bottom: 41.5%;
    left: 25%;
}
.click-icon-unit10-page1-2 {
    bottom: 13.5%;
    right: 42%;
}
}


@media (max-width: 820px) {
  .headset-icon-CD-unit10-page1-1 {
    top: 5.5%;
    right: 12.5%;
  }
  .headset-icon-CD-unit10-page1-2 {
    bottom: 40.5%;
    left: 26%;
  }
  .click-icon-unit10-page1-2 {
    bottom: 12.5%;
    right: 40%;
  }
}
