.click-icon-review3-page2-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 2.5%;
  left: 31.5%;
  cursor: pointer;
}

.click-icon-review3-page2-1 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 67%;
  cursor: pointer;
}
.click-icon-review3-page2-3 {
  position: absolute;
  padding: 5px;
  top: 46.5%;
  left: 43%;
  cursor: pointer;
}
.headset-icon-CD-review3-page2-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 26%;
  left: 24.5%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-review3-page2-2 {
    top: 1.5%;
    left: 31.5%;
  }
      .click-icon-review3-page2-3 {
        top: 45% !important;
        left: 43.5% !important;
    }
        .click-icon-review3-page2-1 {
        bottom: 28.5% !important;
    }
}
@media (max-width: 1024px) {
  .click-icon-review3-page2-1 {
    bottom: 31.5%;
  }
  .click-icon-review3-page2-3 {
    top: 46%;
    left: 43.5%;
  }
}
