.look-number-container {
  width: 65%;
  margin: auto;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2c5287;
}

.letter {
  color: #2c5287;
  font-weight: 700;
  margin-right: 5px;
}

.images-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}

.question-img {
  width: 130px;
  height: 110px;
  border-radius: 10px;
  border: 2px solid #75c7ff;
}

.number-input-review3-p1-q1 {
width: 38px;
    height: 38px;
    border: 2px solid #6ec1ff;
    border-radius: 6px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, font-size 0.2s ease;
}

.sentences-col {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sentence-text {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.exercise-item-review3-p1-q1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.exercise-image-review3-p1-q1 {
  cursor: pointer;
  transition: 0.2s;
  height: 120px;
  width: auto;
  /* border: solid 2px #6ec1ff; */
  border-radius: 13px;
  /* margin-left: 10px;*/
}
.exercise-image-div-review3-p1-q1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 40px;
}

.error-circle {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: -41%;
}
@media (max-width: 1024px) {
  .exercise-image-div-review3-p1-q1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
  }
  .exercise-image-review3-p1-q1 {
    height: 90px;
    width: auto;
  }
  .exercise-image-div-review3-p1-q1 {
    flex-wrap: wrap;
  }
}
