.click-icon-review4-page1-2 {
  position: absolute;
  padding: 5px;
  top: 28%;
  left: 41.5%;
  cursor: pointer;
}
.click-icon-review4-page1-1 {
  position: absolute;
  padding: 5px;
  top: 9.3%;
  left: 38.5%;
  cursor: pointer;
}
.click-icon-review4-page1-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 53.5%;
  left: 33%;

  cursor: pointer;
}
.click-icon-review4-page1-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 21%;
  left: 38.5%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-review4-page1-1 {
    top: 8.3%;
  }
  .click-icon-review4-page1-2 {
    top: 27%;
  }
  .click-icon-review4-page1-3 {
    bottom: 53% !important;
  }
  .click-icon-review4-page1-4 {
    bottom: 20.9% !important;
  }
}
@media (max-width: 1024px) {
  .click-icon-review4-page1-3 {
    bottom: 56%;
  }
  .click-icon-review4-page1-4 {
    bottom: 23.9%;
    left: 38.5%;
  }
}
