.content-container-wb-unit4-p2-q2 {
  display: grid;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  margin-top: 28px;
  grid-template-columns: 1fr 1fr;
}

.input-container-wb-unit4-p2-q2  {
  width: 100%;
  /* height: 100%; */
  display: grid;
  flex-direction: row;
  justify-content: space-around;
}


.word-box-wb-unit4-p2-q2 {
    display: inline-block;
    padding: 1px 7px;
    border: 2px solid #444;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;
    font-weight: 600;
    background: #fff;
}