.img-with-dot2-wb-unit4-p1-q1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 40%;
}


.word-text2-wb-unit4-p1-q1  {
  /* display: inline-block; مهم للـ transform */
  transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;
  /* padding: 4px 6px; */
  border-radius: 6px;
}
/* ✨ Hover animation */
.word-text2-wb-unit4-p1-q1:hover {
  transform: scale(1.06);
  background-color: rgba(67, 15, 104, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.word-text2-wb-unit4-p1-q1:active {
  transform: scale(0.98);
}