.shapes-table-wrapper-wb-unit4-p5-q1 th,
.shapes-table-wrapper-wb-unit4-p5-q1 td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  width: 120px;
  font-size: 20px;
  font-weight: 500;
  height: 60px;
}
.sentence-cell {
  pointer-events: none;
}

.table-wrapper-wrapper-wb-unit4-p5-q1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.correct-mark-wb-unit4-p5-q1 {
    color: red;
    font-size: 35px;
    font-weight: bold;
}
.shapes-table-wrapper-wb-unit4-p5-q1 {
  border-collapse: collapse;
  border: 3px solid black;
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .shapes-table-wrapper-wb-unit4-p5-q1 {
    margin-top: 5px;
  }
  .shapes-table-wrapper-wb-unit4-p5-q1 th,
  .shapes-table-wrapper-wb-unit4-p5-q1 td {
    font-size: 16px;
  }
}
