.wb-unit4-p3-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 40%;
}
.wb-unit4-p3-q2 {
    position: absolute;
    padding: 5px;
    top: 42%;
    left: 75%;
}

.draw-canvas {
  width: 600px;
  height: 300px;   /* كبير متل ما بدك */
  border: 2px solid #ccc;
  touch-action: none;
  cursor: pointer;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit4-p3-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 40%;
}
.wb-unit4-p3-q2 {
    position: absolute;
    padding: 5px;
    top: 41%;
    left: 75%;
}
}
/* 
@media (max-width: 1024px) {
  .wb-unit4-p3-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit4-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit4-p3-q1 {
           top: 14.5%;
    
  }

  .wb-unit4-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
