.answer-input33-wb-unit4-p4-q1 {
   border-bottom: 2px solid;
    text-align: start;
    vertical-align: middle;
    line-height: normal;
    font-size: 20px;
    font-weight: 500;
    width: 20%;
}
.word-box-wb-unit4-p4-q1 {
    display: inline-block;
    padding: 7px 14px;
    border: 2px solid #4b74ff;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px;
    font-weight: 600;
    background: transparent;
}

.all-svg-house-wb-unit4-p4-q1 {
  transform: scale(1.5);
  transform-origin: center top;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .all-svg-house-wb-unit4-p4-q1 {
    transform: scale(1.2);
    transform-origin: center top;
  }
}
