.wb-unit4-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 41%;
}

.wb-unit4-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 48.5%;
    left: 40%;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit4-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 13.5%;
  left: 41%;
}

.wb-unit4-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 47.5%;
    left: 40%;
}
}
