.wb-unit5-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 9.5%;
  left: 69%;
}
.wb-unit5-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 40.5%;
  left: 71%;
}
.wb-unit5-p6-q3 {
  position: absolute;
  padding: 5px;
  top: 78.5%;
  left: 38.5%;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit5-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 8.5%;
  left: 69%;
}
.wb-unit5-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 39.5%;
  left: 71%;
}
.wb-unit5-p6-q3 {
  position: absolute;
  padding: 5px;
  top: 77.5%;
  left: 38.5%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit5-p6-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit5-p6-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit5-p6-q1 {
    top: 14.5%;
  }

  .wb-unit5-p6-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
