.wb-unit5-p5-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 40%;
}
.wb-unit5-p5-q2 {
    position: absolute;
    padding: 5px;
    top: 48.5%;
    left: 53%;
}
.wrong-x-circle-wb-u4-p5-q1{

    position: absolute;
    top: -28%;
    right: -8px;
    background: red;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid white;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit5-p5-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 40%;
}
.wb-unit5-p5-q2 {
    position: absolute;
    padding: 5px;
    top: 47.5%;
    left: 53%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit5-p5-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit5-p5-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit5-p5-q1 {
           top: 14.5%;
    
  }

  .wb-unit5-p5-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
