.wb-unit5-p3-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 39%;
}
.wb-unit5-p3-q2 {
position: absolute;
    padding: 5px;
    top: 52.5%;
    left: 50%;
}
.wb-unit5-p3-q2-options-box {
    position: relative;
    display: flex;
    gap: 6px;
    flex-direction: row;
}

.draw-canvas {
  width: 100%;
  height: 300px;   /* كبير متل ما بدك */
  border: 2px solid #ccc;
  touch-action: none;
  cursor: crosshair;
}
.wb-unit5-p3-q2-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 60px;
    margin-top: 20px;
    width: 100%;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit5-p3-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 39%;
}
.wb-unit5-p3-q2 {
position: absolute;
    padding: 5px;
    top: 51.5%;
    left: 50%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit5-p3-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit5-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit5-p3-q1 {
           top: 14.5%;
    
  }

  .wb-unit5-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
