.images-row-wb-unit5-p6-q1 {
    display: flex;
    gap: 15px;
    border: 3px solid #5acbf4;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin-left: 10px;
    justify-content: space-around;
}