
.container-wb-unit5-p6-q3{
    display:flex;
    width: 100%;
    gap: 20px;
}

.question-box-wb-unit5-p6-q3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 15px; */
    justify-content: space-between;
}

.options-row-wb-unit5-p6-q3 {
    width: 100%;
    height: 150px;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


@media (max-width: 820px) {
    .container-wb-unit5-p6-q3 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}
}