.wb-unit5-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 41%;
}
.wb-unit5-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 45.5%;
    left: 40%;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit5-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 13.5%;
  left: 41%;
}
.wb-unit5-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 44.5%;
    left: 40%;
}

}

/* @media (max-width: 1024px) {
  .wb-unit5-p1-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit5-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit5-p1-q1 {
    top: 14.5%;
  }

  .wb-unit5-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
