.wb-unit5-p2-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 41.5%;
}

.wb-unit5-p2-q2 {
    position: absolute;
    padding: 5px;
    top: 49.5%;
    left: 39%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit5-p2-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 41.5%;
}

.wb-unit5-p2-q2 {
    position: absolute;
    padding: 5px;
    top: 48.5%;
    left: 39%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit5-p2-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit5-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit5-p2-q1 {
    top: 14.5%;
  }

  .wb-unit5-p2-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
