/* .headset-icon-CD-unit6-page5 {
  position: absolute;
  padding: 5px;
  top: 26%;
  right: 18%;
  cursor: pointer;
} */

/* EDIT: علامة الخطأ فقط */
.wrong-x2 {
  position: absolute;
  top: -11px;
  right: -22px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.check-box1 {
  transition: transform 0.25s ease;
}

.check-box1.selected1 {
  transform: scale(1.28);
}

.click-icon-unit8-page5-1 {
  position: absolute;
  padding: 5px;
  top: 7.5%;
  left: 52%;
  cursor: pointer;
}
.click-icon-unit8-page5-2 {
  position: absolute;
  padding: 5px;
  top: 28.2%;
  left: 70%;
  cursor: pointer;
}
.click-icon-unit8-page5-3 {
  position: absolute;
  padding: 5px;
  top: 50.8%;
  left: 39%;
  cursor: pointer;
}
.click-icon-unit8-page5-4 {
  position: absolute;
  padding: 5px;
  bottom: 22.3%;
  left: 47.8%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-unit8-page5-1 {
    top: 6.5% !important;
    left: 52% !important;
  }
  .click-icon-unit8-page5-2 {
    top: 27.2% !important;
  }
  .click-icon-unit8-page5-3 {
    top: 49.8% !important;
    left: 39% !important;
  }
  .click-icon-unit8-page5-4 {
        bottom: 21.6% !important;
        left: 47.5% !important;
    }
}

@media (max-width: 1024px) {
  .click-icon-unit8-page5-1 {
    top: 7.5%;
    left: 52%;
  }
  .click-icon-unit8-page5-4 {
    bottom: 24.6%;
    left: 48.5%;
  }
}
