.click-icon-unit8-page6-2 {
    position: absolute;
    padding: 5px;
    top: 3.2%;
    right: 62.5%;
    cursor: pointer;
}

.click-icon-unit8-page6-1 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 50.5%;
  cursor: pointer;
}
.click-icon-unit8-page6-3 {
    position: absolute;
    padding: 5px;
    top: 47.5%;
    left: 33.2%;
    cursor: pointer;
}
.headset-icon-CD-unit8-page6-1 {
    position: absolute;
    padding: 5px;
    bottom: 26.5%;
    left: 24.5%;
    cursor: pointer;
}
.question-text-unit8-page6-q1 {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}
.q-input-unit8-page6-q1 {
    border-bottom: 2px solid #000000;
    padding: 5px 8px;
    /* border-radius: 6px; */
    font-size: 22px;
    /* width: 120px; */
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    height: 40px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
      .click-icon-unit8-page6-2 {
        top: 2% !important;
        right: 61% !important;
    }
        .click-icon-unit8-page6-3 {
        top: 46.5% !important;
      }
          .headset-icon-CD-unit8-page6-1 {
        bottom: 26% !important;
        left: 24% !important;
    }
}

@media (max-width: 1024px) {
  .click-icon-unit8-page6-2 {
    top: 3%;
    right: 65%;
  }
  .click-icon-unit8-page6-3 {
    .headset-icon-CD-unit8-page6-1 {
      position: absolute;
      padding: 5px;
      bottom: 29%;
      left: 24.5%;
    }
    top: 47.5%;
    left: 33.5%;
  }
  .headset-icon-CD-unit8-page6-1 {
    bottom: 29%;
    left: 24.5%;
  }
}
