.error-mark-unit8-p6-q3 {
  width: 25px;
    height: 25px;
    border: 2px solid white;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    vertical-align: middle;
    position: absolute;
    left: 87%;
    top: -10%;
    z-index: 99;
    opacity: 1 !important;

}



/* =====================
   IMAGES HOVER
===================== */
.matched-img {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
  border-radius: 8px;
}

.matched-img:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.matched-img:active {
  transform: scale(0.96);
}
