.unscramble-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 30px; */
}

.unscramble-row {
  display: flex;
  gap: 30px;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
}

.unscramble-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.img-box1-unit8-p5-q1 img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.img-box1-unit8-p5-q1 {
  width: 180px;
  height: 140px;
  /* border: 3px solid #7bc4ff; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-bank-unit8-p5-q1 {
    display: flex;
    gap: 5px;
    margin: 15px 0 25px;
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
/* .img-box img {
  width: 80px;
} */

.scrambled-word {
  font-size: 16px;
  font-weight: 600;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.num {
  font-weight: 700;
  color: #2c5287;
}

.text-input {
  width: 80px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 16px;
  text-align: center;
  padding: 3px;
  height: 40px;
}

.pattern {
  font-weight: 600;
}

.error-icon {
  position: absolute;
  top: -8px; /* ارفعيه فوق */
  right: -8px; /* حطيه يمين */
  width: 22px;
  height: 22px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  z-index: 10;
  border: 2px solid white;
}
.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .img-box {
    width: 98px;
    height: 86px;
  }
}

@media (max-width: 1024px) {
  .unscramble-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
