/* ============================
    OPTIONS ROW UNDER IMAGE
============================= */
.options-row-unit8-p5-q3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  flex-direction: row;
  align-items: flex-start;
}

.question-box-unit8-p5-q3 {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  align-items: center;
}

.container-review6-unit8-p5-q3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
      justify-content: space-between;
}


.option-word-unit8-p5-q3 {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 15px;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: 0.2s;
    position: relative;
    user-select: none;
}

.option-word-unit8-p5-q3.selected3{
  border-color: blue;
}

.q3-image-unit8-p5-q3{
  height: 130px;
  width: auto;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .q3-image-unit8-p5-q3{
  height: 100px;
  width: auto;
}

}
@media (max-width: 1024px) {
    .container-review6-unit8-p5-q3 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
 
}
}