.match-wrapper2-unit8-p5-q2 {
  position: relative;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 150px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .match-wrapper2-unit8-p5-q2 {
    gap: 100px;
  }
}
