.headset-icon-CD-unit8-page1-1,
.click-icon-unit8-page1-1,
.headset-icon-CD-unit8-page1-2,
.click-icon-unit8-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
}

.headset-icon-CD-unit8-page1-1 {
  top: 7%;
  right: 11%;
}

.click-icon-unit8-page1-1 {
  left: 19%;
  top: 42%;
}

.headset-icon-CD-unit8-page1-2 {
  bottom: 37.5%;
  left: 26%;
}

.click-icon-unit8-page1-2 {
  bottom: 10.5%;
  right: 38%;
}

#num-1-unit8 {
  top: 28.5%;
  left: 26%;
}

#num-2-unit8 {
  bottom: 63%;
  left: 27%;
}

#num-3-unit8 {
  top: 37%;
  left: 28.5%;
}
#num-4-unit8 {
  top: 21%;
  left: 39%;
}

#num-5-unit8 {
  top: 49%;
  left: 31%;
}
#num-6-unit8 {
  bottom: 45%;
  right: 70%;
}

#num-7-unit8 {
  bottom: 52.5%;
  right: 22%;
}
#num-8-unit8 {
  bottom: 51.5%;
  right: 7%;
}

#num-9-unit8 {
  bottom: 40.5%;
  right: 25%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
      .headset-icon-CD-unit8-page1-1 {
        top: 7% !important;
        right: 7% !important; 
    }
    .click-icon-unit8-page1-1 {
        left: 21% !important;
        top: 42% !important;
    }
        .headset-icon-CD-unit8-page1-2 {
        bottom: 35.5% !important;
        left: 27% !important;
    }
        .click-icon-unit8-page1-2 {
        bottom: 9% !important;
        right: 35% !important;
    }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit8-page1-1 {
    top: 6%;
    right: 14%;
  }
  .click-icon-unit8-page1-1 {
    left: 18%;
    top: 41%;
  }
  .headset-icon-CD-unit8-page1-2 {
    bottom: 41%;
    left: 25%;
  }
  .click-icon-unit8-page1-2 {
    bottom: 14%;
    right: 42%;
  }
}

@media (max-width: 820px) {
 .headset-icon-CD-unit8-page1-1 {
        top: 6.5%;
        right: 12%;
    }
  .headset-icon-CD-unit8-page1-2 {
    bottom: 39.5%;
    left: 25%;
  }
  .click-icon-unit8-page1-2 {
    bottom: 13%;
    right: 41%;
  }
}
