.headset-icon-CD-unit9-page5 {
  position: absolute;
  padding: 5px;
  top: 26%;
  right: 18%;
  cursor: pointer;
}

/* EDIT: علامة الخطأ فقط */
.wrong-x2 {
  position: absolute;
  top: -11px;
  right: -22px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.check-box1 {
  transition: transform 0.25s ease;
}

.check-box1.selected1 {
  transform: scale(1.28);
}

.click-icon-unit9-page5-1 {
  position: absolute;
  padding: 5px;
  top: 7%;
  left: 43.5%;
  cursor: pointer;
}
.click-icon-unit9-page5-2 {
  position: absolute;
  padding: 5px;
  top: 29%;
  left: 70%;
  cursor: pointer;
}
.click-icon-unit9-page5-3 {
  position: absolute;
  padding: 5px;
  top: 47.5%;
  left: 32.5%;
  cursor: pointer;
}

.click-icon-unit9-page5-4 {
  position: absolute;
  padding: 5px;
  bottom: 23%;
  left: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-unit9-page5-1 {
    top: 6%;
    left: 43.5%;
  }
  .click-icon-unit9-page5-2 {
    top: 28%;
    left: 70%;
  }
  .click-icon-unit9-page5-3 {
    top: 46.5%;
  }
  .click-icon-unit9-page5-4 {
    bottom: 22%;
  }
}

@media (max-width: 820px) {
  .click-icon-unit9-page5-4 {
    bottom: 24%;
  }
}
