.word-bank-unit9-p5-q2 {
    display: flex;
    gap: 5px;
    /* margin: 15px 0 25px; */
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}