.headset-icon-CD-unit9-page2-1,
.click-icon-unit9-page2-1,
.headset-icon-CD-unit9-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit9-page2-1 {
  top: 5%;
  right: -0.5%;
}

.headset-icon-CD-unit9-page2-2 {
 bottom: 27.5%;
    right: 5%;
}

.click-icon-unit9-page2-1 {
bottom: 10.5%;
  right: 37.5%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
      .headset-icon-CD-unit9-page2-1 {
        top: 4% !important;
        right: -2.5% !important; 
    }
    .headset-icon-CD-unit9-page2-2 {
        bottom: 25.5% !important;
        right: 3% !important;
    }
    .click-icon-unit9-page2-1 {
        bottom: 9% !important;
        right: 34% !important;
    }
}
@media (max-width: 1024px) {
.headset-icon-CD-unit9-page2-1 {
    top: 4%;
    right: 2.5%;
}
.headset-icon-CD-unit9-page2-2 {
    bottom: 30.5%;
    right: 9%;
}
.click-icon-unit9-page2-1 {
    bottom: 13.5%;
    right: 41.5%;
}
}

@media (max-width: 820px) {

  .headset-icon-CD-unit9-page2-1 {
    top: 4%;
    right: 2.5%;
}
.headset-icon-CD-unit9-page2-2 {
    bottom: 29.5%;
    right: 8%;
}
.click-icon-unit9-page2-1 {
    bottom: 13%;
    right: 39.5%;
}
}