.input-wrapper-unit6-p6-q2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 22px;
}
.input-wrapper-unit6-p6-q2 input{
  font-size: 22px;
}
.question-grid-unit6-page6-q2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
  justify-items: center;
  margin-top: 20px;
}
.img-option-unit6-p6-q2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.circle-wrapper,
.input-wrapper {
  position: relative;
  display: inline-block;
}

.choices-unit6-page6-q2 {
  display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.circle-choice-unit6-page6-q2 {
    width: 50px;
    height: 50px;
 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  background: white;
  user-select: none;
}

.circle-choice-unit6-page6-q2.active {
  
  border: 2px solid #1d4f7b;
  font-weight: bold;
  border-color: #1d4f7b;
}


.wrong-mark {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffffff !important;
  justify-content: center;
  z-index: 10;
}
