.click-icon-unit6-page6-2 {
  position: absolute;
  padding: 5px;
  top: 26.2%;
  right: 53%;
  cursor: pointer;
}
.click-icon-unit6-page6-1 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 42.5%;
  cursor: pointer;
}
.click-icon-unit6-page6-3 {
  position: absolute;
  padding: 5px;
  top: 47.8%;
  right: 52%;
  cursor: pointer;
}
.headset-icon-CD-unit6-page6-1 {
  position: absolute;
  padding: 5px;
  bottom: 21.8%;
  right: 68.5%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-unit6-page6-2 {
    top: 25% !important;
    right: 51.5% !important;
  }
  .click-icon-unit6-page6-3 {
    top: 46.5% !important;
    right: 50% !important;
  }
  .headset-icon-CD-unit6-page6-1 {
    bottom: 21% !important;
    right: 67.5% !important;
  }
}

@media (max-width: 1024px) {
  .click-icon-unit6-page6-2 {
    top: 26%;
    right: 55.5%;
  }

  .click-icon-unit6-page6-3 {
    top: 47%;
    right: 54%;
  }
  .headset-icon-CD-unit6-page6-1 {
    bottom: 24%;
    right: 70.5%;
  }
}
