.num-span{
    font-size: 22px;
    font-weight: 700;
}
.q-img-unit6-page5-q3 {
    width: auto;
    height: 150px;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .q-img-unit6-page5-q3 {
    width: auto;
    height: 100px;
}
}