.page7-q1-container2 {
  width: 100%;
  padding: 10px;
}

.match-wrapper2 {
  position: relative;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 150px;
}

.match-images-row2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.match-words-row2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.img-box2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-box2 img {
  width: auto;
  height: 120px;
  border-radius: 10px;
}

.word-box2 {
  position: relative;
  font-size: 23px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.dot22-unit6-q2 {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  /* pointer-events: auto !important; */
}

.end-dot22-unit6-q2 {

  transform: translateX(-50%);

  position: absolute !important;
  top: -30px; /* عدّلي الرقم حسب مكان الجمل */
}

.start-dot22-unit6-q2 {
  position: absolute !important;
  top: 40px; /* عدّلي الرقم حسب موقعك */
  left: 55%;
  transform: translateX(-50%);
}

.h5-unit6-p5-q2{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  border: 2px solid #4a90e2; /* الأزرق المستخدم في الكتب */
  border-radius: 20px;
  background-color: #eef6ff;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  position: relative;
  width: fit-content;
  margin-bottom: 25px; /* عشان تترك مسافة للنقطة */
  
}

/* =====================
   WORDS HOVER
===================== */
.h5-unit6-p5-q2 {
  display: inline-block;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    box-shadow 0.2s ease;
  padding: 4px 6px;
  border-radius: 6px;
  cursor: pointer;
}

.h5-unit6-p5-q2:hover {
  transform: scale(1.05);
  background-color: rgba(67, 15, 104, 0.08);
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.h5-unit6-p5-q2:active {
  transform: scale(0.97);
}
.lines-layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
}

.page7-q2-container2 {
  user-select: none; /* يمنع تحديد النص */
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}



/* ⭐ تم إضافتها */
.error-mark-img-unit6-p5-q2 {
  position: absolute;
  top: -10px;
  right: -14px;
  width: 26px;
  height: 26px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999999;
  border: 2px solid white;
}
