.headset-icon-CD-unit6-page1-1,
.click-icon-unit6-page1-1,
.headset-icon-CD-unit6-page1-2,
.click-icon-unit6-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
}

.headset-icon-CD-unit6-page1-1 {
  top: 7%;
  right: 7.5%;
}

.click-icon-unit6-page1-1 {
  left: 20%;
  top: 42%;
}

.headset-icon-CD-unit6-page1-2 {
  bottom: 37%;
  left: 26%;
}

.click-icon-unit6-page1-2 {
  bottom: 10.5%;
  right: 38%;
}

#num-1-unit6 {
  top: 24%;
  left: 30.5%;
}

#num-2-unit6 {
  top: 36%;
  left: 64%;
}

#num-3-unit6 {
  top: 51%;
  left: 23.5%;
}

#num-4-unit6 {
  top: 39%;
  right: 56%;
}

#num-5-unit6 {
  top: 40%;
  left: 13%;
}

#num-6-unit6 {
  top: 25%;
  right: 30%;
}

#num-7-unit6 {
  left: 42%;
  bottom: 25.5%;
}
#num-8-unit6 {
  left: 45%;
  bottom: 21.5%;
}
#num-9-unit6 {
  left: 67%;
  bottom: 34.5%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .headset-icon-CD-unit6-page1-1 {
    top: 7% !important;
    right: 4.5% !important;
  }
  .headset-icon-CD-unit6-page1-2 {
    bottom: 35% !important;
    left: 26.8% !important;
  }
  .click-icon-unit6-page1-2 {
    bottom: 9% !important;
    right: 35% !important;
  }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit6-page1-1 {
    top: 6%;
    right: 10.5%;
  }
  .click-icon-unit6-page1-1 {
    left: 19%;
    top: 41%;
  }
  .headset-icon-CD-unit6-page1-2 {
    bottom: 40%;
    left: 25%;
  }
  .click-icon-unit6-page1-2 {
    bottom: 14%;
    right: 42%;
  }
}

@media (max-width: 820px) {
  .click-icon-unit6-page1-2 {
    bottom: 13%;
    right: 41%;
  }
}
