.headset-icon-CD-unit6-page2-1,
.click-icon-unit6-page2-1,
.headset-icon-CD-unit6-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
}

.headset-icon-CD-unit6-page2-1 {
  top: 7%;
  right: 0.5%;
}

.headset-icon-CD-unit6-page2-2 {
  bottom: 27%;
  right: 8%;
}

.click-icon-unit6-page2-1 {
  bottom: 10.5%;
  right: 37%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .headset-icon-CD-unit6-page2-1 {
    top: 6% !important;
    right: -3.5% !important;
  }
  .headset-icon-CD-unit6-page2-2 {
    bottom: 26% !important;
    right: 5% !important;
  }
  .click-icon-unit6-page2-1 {
    bottom: 9% !important;
    right: 34% !important;
  }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit6-page2-1 {
    top: 6%;
    right: 3.5%;
  }
  .headset-icon-CD-unit6-page2-2 {
    bottom: 30%;
    right: 12%;
  }

  .click-icon-unit6-page2-1 {
    bottom: 14%;
    right: 42%;
  }
}

@media (max-width: 820px) {
  .headset-icon-CD-unit6-page2-2 {
    bottom: 29.8%;
    right: 10%;
  }
  .click-icon-unit6-page2-1 {
    bottom: 13%;
    right: 40%;
  }
}
