.wb-unit3-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 9.5%;
  left: 40%;
}
.wb-unit3-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 44%;
  right: 4%;
}
.wb-unit3-p6-q3 {
  position: absolute;
  padding: 5px;
  top: 74.5%;
  left: 36.5%;
}
.word-bank-wb-unit3-p6-q1 {
    display: flex;
    gap: 5px;
    /* margin: 15px 0 25px; */
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    justify-content: center;
    border-radius: 8px;
    /* padding: 10px; */
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}
.missing-input-wb-unit3-p6-q3 {
  width: 100px;
  /* border: none; */
  border-bottom: 2px solid black;
  margin: 0 6px;
  font-size: 25px;
  text-align: center;
      height: 30px;
  /* outline: none; */
}

.q-img-wb-unit3-p6-q1 {
  width: auto;
  height: 130px;
}
.wb-unit3-p6-q2-question-img {
  height: 110px;
  width: auto;
  border: 2px solid;
  object-fit: cover;
  border-radius: 8px;
}
.input-wrapper-wb-unit3-p6-q3 {
    position: relative;
    display: inline-block;
    /* width: 100%; */
}


.sentence-wb-unit3-p6-q3 {
  text-align: center;
  display: flex;
  /* margin-top: 35px; */
  font-size: 25px;
  flex-wrap: wrap;
}
.wb-unit3-p6-q2-container {
  display: grid;
  gap: 20px;
  /* margin-bottom: 60px; */
  /* margin-top: 20px; */
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .q-img-wb-unit3-p6-q1 {
    width: auto;
    height: 120px;
  }

  .wb-unit3-p6-q2-container {
    gap: 5px;
    margin-top: 0px;
  }

  .wb-unit3-p6-q2-question-img {
    height: 75px;
  }
  .sentence-wb-unit3-p6-q3 {
    margin-top: 0px;
    font-size: 20px;
  }
  .middle-img {
    width: auto;
    height: 80px;
    margin: 0 8px;
}
.wb-unit3-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 8.5%;
  left: 40%;
}
.wb-unit3-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 43%;
  right: 4%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit3-p6-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit3-p6-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit3-p6-q1 {
    top: 9.5%;
  }

  .wb-unit3-p6-q2 {
    top: 43.5%;
    left: 89%;
  }
} */
