.wb-unit3-p4-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 40%;
}
.wb-unit3-p4-q2 {
    position: absolute;
    padding: 5px;
    top: 37.8%;
    left: 40%;
}
.question-box-wb-unit2-p4-q1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.option-word-wb-unit2-p4-q1 {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 15px;
    border-radius: 25px;
    border: 2px solid transparent;
    transition: 0.2s;
    position: relative;
    user-select: none;
}
.option-word-wb-unit2-p4-q1.selected3{
    border-color: rgb(44, 82, 135);;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .wb-unit3-p4-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 40%;
}
.wb-unit3-p4-q2 {
    position: absolute;
    padding: 5px;
    top: 36.8%;
    left: 40%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit3-p4-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit3-p4-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
     .wb-unit3-p4-q1 {
        top: 3%;
        left: 40%;
    }

.wb-unit3-p4-q2 {
        top: 37.5%;
        left: 40%;
    }
} */
