.wb-unit3-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 34.5%;
}
.wb-unit3-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 48%;
  left: 41%;
}

.word-text2-wb-unit2-p5-q1 {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  background: #ffffff;
  border-radius: 9px;
  font-size: 18px;
  /* min-width: 100px; */
  text-align: start;
  border: 2px solid #000000;
  width: 200px;
  padding: 0px 10px;
}

.img-box-wb-unit3-p5-q1 {
  width: 180px;
  height: 170px;
  /* border: 2px solid #ccc; */
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.check-box-wb-unit3-p4-q2 {
  position: absolute;
  bottom: 16px;
  right: 22px;
  width: 40px;
  height: 40px;
  color: red;
  font-weight: 700;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  background: white;
  border-radius: 9px;
}
.img-box-wb-unit3-p5-q1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shorti-container-wb-unit3-p5-q1 {
  flex-direction: column;
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.question-box-wb-unit3-p5-q1 {
  display: flex;
  /* justify-content: space-between; */
  /* gap: 20px; */
  flex-direction: column;
}
.word-text2-wb-unit3-p5-q2 {
  /* display: inline-block; مهم للـ transform */
  transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;
  /* padding: 4px 6px; */
  border-radius: 6px;
}
/* ✨ Hover animation */
.word-text2-wb-unit3-p5-q2:hover {
  transform: scale(1.06);
  background-color: rgba(67, 15, 104, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.word-text2-wb-unit3-p5-q2:active {
  transform: scale(0.98);
}
.error-mark8-wb-unit2-p5-q1 {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  vertical-align: middle;
  position: absolute;
  left: 24%;
  top: 12%;
  z-index: 99;
}

.word-text2-wb-unit3-p5-q2 {
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  background: #ffffff;
  border-radius: 9px;
  font-size: 18px;
  /* min-width: 100px; */
  text-align: start;
  /* border: 2px solid #000000; */
  width: 200px;
  padding: 0px 10px;
}
/* @media (max-width: 1024px) {
  .wb-unit3-p5-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit3-p5-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .img-box-wb-unit3-p5-q1 {
    height: 150px;
  }

  .check-box-wb-unit3-p4-q2 {
    position: absolute;
    bottom: 15px;
    right: 32px;
    border-radius: 7px;
  }

  .wb-unit3-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 2.5%;
  left: 34.5%;
}
.wb-unit3-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 47%;
  left: 41%;
}

}
/* @media (max-width: 820px) {
  .wb-unit3-p5-q1 {
    top: 3%;
    left: 35%;
  }

  .wb-unit3-p5-q2 {
    top: 47.5%;
    left: 42%;
  }
} */
