.input-container-wb-unit3-p2-q1 {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding-top: 90px; */
}
.content-container-wb-unit3-p2-q1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 28px;
}


.word-bank-wb-unit3-p2-q1 {
    display: flex;
    gap: 5px;
    /* margin: 15px 0 25px; */
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}
.word-item-wb-unit3-p2-q1  {
    padding: 1px 14px;
    background-color: #f2f6ff;
    border: 2px solid #4b74ff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #1f3cff;
    cursor: grab;
    user-select: none;
    transition: all 0.2s ease;
}
