.wb-unit6-p1-q1 {
    position: absolute;
    padding: 5px;
    top: 15%;
    left: 33.5%;
}

.wb-unit6-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 47.5%;
    left: 34.5%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit6-p1-q1 {
    position: absolute;
    padding: 5px;
    top: 14%;
    left: 33.5%;
}

.wb-unit6-p1-q2 {
    position: absolute;
    padding: 5px;
    top: 46.5%;
    left: 34.5%;
}
}

/* @media (max-width: 1024px) {
  .wb-unit6-p1-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit6-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit6-p1-q1 {
    top: 14.5%;
  }

  .wb-unit6-p1-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
