.blank-options-wb-unit6-b3-q1.third-blank {
  display: flex;
  gap: 50px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  flex-direction: row;
}

.first-line-wb-unit6-b3-q1 {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.blank-options-wb-unit6-b3-q1 {
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  flex-direction: column;
}

.question-row-wb-unit6-b3-q14 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 22px;
  flex-direction: column;
  width: 100%;
}

.img-wb-unit6-p3-q1 {
  width: 200px;
  height: auto;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .img-wb-unit6-p3-q1 {
    width: 150px;
    height: auto;
  }
  .blank-options-wb-unit6-b3-q1.third-blank {
    font-size: 16px;
  }

  .blank-options-wb-unit6-b3-q1 {
    font-size: 16px;
  }
}
