.wb-unit6-p5-q2-wrapper {
  width: 70%;
  margin: auto;
}

.wb-unit6-p5-q2-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.wb-unit6-p5-q2-ex {
  background: #4aa3df;
  color: #fff;
  padding: 2px 8px;
  border-radius: 6px;
  margin-right: 6px;
}

.wb-unit6-p5-q2-question {
  margin-bottom: 30px;
}

.wb-unit6-p5-q2-sentence {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.wb-unit6-p5-q2-sentence b {
  color: #2c5287;
}

.wb-unit6-p5-q2-letters {
  display: flex;
  /* flex-wrap: wrap; */
  /* gap: 6px; */
  font-size: 18px;
}

.wb-unit6-p5-q2-letter {
    cursor: pointer;
    padding: 0px 3px;
    border-radius: 4px;
    user-select: none;
}

.wb-unit6-p5-q2-letter:hover {
  background-color: #e6f2ff;
}

.wb-unit6-p5-q2-found {
  /* margin-top: 10px; */
      height: 20px;
}
.content-container-wb-unit6-p5-q2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wb-unit6-p5-q2-found-word {
  display: inline-block;
  margin-right: 8px;
  padding: 4px 8px;
  background: #d7f5d7;
  border-radius: 6px;
   font-size: 18px;
}
.wb-unit6-p5-q2-letter-selected {
  border: 2px solid red;
  border-radius: 50%;
   padding: 0px 3px;
  font-weight: bold;
}

.img-wb-unit6-p5-q2{
  height: 100px;
    width: auto;
}



@media screen and (max-width: 1024px) and (max-height: 600px) {
  .img-wb-unit6-p5-q2{
  height: 80px;
    width: auto;
}
.wb-unit6-p5-q2-question {
    margin-bottom: 0px;
}
.wb-unit6-p5-q2-letters {
    display: flex;
    flex-wrap: wrap;
    /* gap: 6px; */
    font-size: 16px;
}
.wb-unit6-p5-q2-sentence {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}
}


@media (max-width: 1024px){
.wb-unit6-p5-q2-letters {
   
    flex-wrap: wrap;
   
}
}