.wb-unit6-p4-q1-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  width: 100%;
  /* justify-content: space-around; */
}

.wb-unit6-p4-q1-grid {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.wb-unit6-p4-q1-img {
  width: 180px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}
.Uwb-unit6-p4-q1-text {
    font-size: 20px;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit6-p4-q1-img {
    width: 130px;
  }
.wb-unit6-p4-q1-text {
    font-size: 16px;
}
.wb-unit6-p4-q1-grid {
   
    gap: 0px;
 
}
}
