.wb-unit6-p2-q1-wrapper {
  width: 70%;
  margin: auto;
  padding: 30px;
}

.wb-unit6-p2-q1-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.wb-unit6-p2-q1-letter {
  background: #5bc0eb;
  color: white;
  padding: 2px 8px;
  border-radius: 6px;
  margin-right: 8px;
}

.wb-unit6-p2-q1-notes {
  border: 1.5px solid #000;
  padding: 10px;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 14px;
}

.wb-unit6-p2-q1-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wb-unit6-p2-q1-number {
  width: 30px;
  font-weight: bold;
  color: #1e40af;
   font-size: 22px;
   font-weight: 500;
}

.wb-unit6-p2-q1-words {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.wb-unit6-p2-q1-word-box {
  width: 110px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
   font-weight: 500;
}

.wb-unit6-p2-q1-input {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1.5px solid #000;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  
}

.wb-unit6-p2-q1-word-text {
  pointer-events: none;
}


.wb-unit6-p2-q1-wrong-mark {
  position: absolute;
    bottom: 17px;
    left: 16px;
  width: 22px;
  height: 22px;
  background-color: red; /* أحمر */
  color: white;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border: 2px solid white;
}
