.wb-unit6-p6-q1-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    justify-items: center;
    /* margin-bottom: 60px; */
    /* margin-top: 20px; */
    width: 100%;
}

.wb-unit6-p6-q1-flex {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.wb-unit6-p6-q1-options-box{
    display: flex;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
    .unit6-p1-q1-question-img {
    height: 90px;
   
}

.unit6-p1-q1-question-box {
   
    gap: 2px;
    padding: 0px;

}
}