.wb-unit6-p3-q1 {
    position: absolute;
    padding: 5px;
    top: 3.5%;
    left: 44%;
}
.wb-unit6-p3-q2 {
    position: absolute;
    padding: 5px;
    top: 59.5%;
    left: 31%;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .wb-unit6-p3-q1 {
    position: absolute;
    padding: 5px;
    top: 2.5%;
    left: 44%;
}
.wb-unit6-p3-q2 {
    position: absolute;
    padding: 5px;
    top: 58.5%;
    left: 31%;
}
}
/* @media (max-width: 1024px) {
  .wb-unit6-p3-q1 {
    top: 14.5%;
    left: 41%;
  }

  .wb-unit6-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
}

@media (max-width: 820px) {
  .wb-unit6-p3-q1 {
           top: 14.5%;
    
  }

  .wb-unit6-p3-q2 {
    top: 45.5%;
    left: 35%;
  }
} */
