.wb-unit6-p5-q1-wrapper {
  width: 60%;
  margin: auto;
  padding: 30px;
}

.exercise-container-wb-unit6-p5-q1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.row-container-wb-unit6-p5-q1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sentence-area-wb-unit6-p5-q1 span {
    font-size: 20px;
    font-weight: 500;
}
.sentence-area-wb-unit6-p5-q1 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 55%;
}

.sentence-area-wb-unit6-p5-q1 .number-wb-unit6-p5-q1 {
  font-weight: bold;
  color: #2c5287;
  font-size: 20px;
}

.sentence-area-wb-unit6-p5-q1 input {
  border: none;
  border-bottom: 2px solid #000;
  width: 250px;
  font-size: 20px;
  outline: none;
}

.draw-box-wb-unit6-p5-q1 {
  width: 220px;
  height: 120px;
  border: 2px solid #888;
  border-radius: 8px;
  background: #fff;
  cursor:crosshair;
}



@media screen and (max-width: 1024px) and (max-height: 600px) {
  .exercise-container-wb-unit6-p5-q1 {
    
    gap: 5px;
}
}