.container-wb-unit6-p6-q2 {
    /* display: flex; */
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.question-box-wb-unit6-p6-q2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 15px; */
    justify-content: space-around;
}