.headset-icon-CD-unit3-page5 {
  position: absolute;
  padding: 5px;
  top: 26%;
  right: 18%;
  cursor: pointer;
}

/* EDIT: علامة الخطأ فقط */
.wrong-x2 {
  position: absolute;
  top: -11px;
  right: -22px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.check-box1 {
  transition: transform 0.25s ease;
}

.check-box1.selected1 {
  transform: scale(1.28);
}

.click-icon-unit3-page5-1 {
  position: absolute;
  padding: 5px;
  top: 8%;
  left: 33%;
  cursor: pointer;
}
.click-icon-unit3-page5-2 {
  position: absolute;
  padding: 5px;
  top: 26.4%;
  right: 18%;
  cursor: pointer;
}
.click-icon-unit3-page5-3 {
  position: absolute;
  padding: 5px;
  top: 39%;
  left: 32%;
  cursor: pointer;
}

.click-icon-unit3-page5-4 {
  position: absolute;
  padding: 5px;
  bottom: 22%;
  left: 47.5%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-unit3-page5-1 {
    top: 7%;
  }
  .click-icon-unit3-page5-2 {
    top: 25.4% !important;
    right: 15.5% !important;
  }
  .click-icon-unit3-page5-3 {
    top: 38% !important;
  }
  .click-icon-unit3-page5-4 {
    bottom: 20.9% !important;
    left: 47.5% !important;
  }
}

@media (max-width: 1024px) {
  .click-icon-unit3-page5-2 {
    top: 26.4%;
    right: 19.5%;
  }

  .click-icon-unit3-page5-4 {
    bottom: 23.9%;
    left: 48.5%;
  }
}
