.click-icon-unit3-page6-2 {
  position: absolute;
  padding: 5px;
  top: 15.5%;
  left: 49.8%;
  cursor: pointer;
}

.click-icon-unit3-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 39%;
  cursor: pointer;
}
.click-icon-unit3-page6-3 {
  position: absolute;
  padding: 5px;
  top: 37.2%;
  left: 41.5%;
  cursor: pointer;
}
.headset-icon-CD-unit3-page6-1 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24.5%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-unit3-page6-2 {
    top: 14.5% !important;
    left: 49.8% !important;
  }
  .click-icon-unit3-page6-3 {
    top: 36.2% !important;
    left: 41.5% !important;
  }
  .headset-icon-CD-unit3-page6-1 {
        bottom: 28% !important;
 
    }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit3-page6-1 {
    bottom: 31%;
    left: 24.5%;
  }
}
