.headset-icon-CD-unit3-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6%;
  left: 38%;
}

.pauseBtn-icon-CD-unit3-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6%;
  left: 43%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .headset-icon-CD-unit3-page3-1, .pauseBtn-icon-CD-unit3-page3-1 {
        top: 6% !important;
    }
}

@media (max-width: 1024px) {
  .headset-icon-CD-unit3-page3-1,
  .pauseBtn-icon-CD-unit3-page3-1 {
    top: 5%;
  }
}
