.headset-icon-CD-unit3-page2-1,
.click-icon-unit3-page2-1,
.headset-icon-CD-unit3-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
}

.headset-icon-CD-unit3-page2-1 {
  top: 5%;
  right: 6.5%;
}

.headset-icon-CD-unit3-page2-2 {
  bottom: 27%;
  right: 6%;
}

.click-icon-unit3-page2-1 {
  bottom: 11%;
  right: 36.5%;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .headset-icon-CD-unit3-page2-1 {
    top: 5% !important;
    right: 4.5% !important;
  }
  .headset-icon-CD-unit3-page2-2 {
    bottom: 25% !important;
    right: 2% !important;
  }
  .click-icon-unit3-page2-1 {
    bottom: 9% !important;
    right: 33% !important;
  }
}

@media (max-width: 1024px) {
  .headset-icon-CD-unit3-page2-1 {
    top: 4%;
    right: 10.5%;
  }

  .headset-icon-CD-unit3-page2-2 {
    bottom: 30%;
    right: 8%;
  }
  .click-icon-unit3-page2-1 {
    bottom: 14%;
    right: 40.5%;
  }
}
