@import "tailwindcss";

body {
  background: rgb(233, 233, 233);
  overflow-x: hidden;
  overflow-y: hidden;
}
img {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.content-wrapper {
  overflow: auto;
}

button {
  cursor: pointer;
}
.tooltip-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #430f68;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
  white-space: nowrap;
  transition: opacity 0.2s ease;
  z-index: 9999;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* السهم */
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #430f68 transparent transparent transparent;
}

.bookInfo-div {
  display: flex;
  flex-direction: row;
  margin: 20px;
  /* flex-wrap: wrap; */
  gap: 20px;
}
.grammar-info {
  flex-wrap: wrap;
}
/* من 1024px وفوق → ديسكتوب */
@media (max-width: 780px) {
  body {
    overflow-y: auto;
  }
}
input:focus {
  border-color: gray !important ; /* هنا يصير اللون رمادي */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* ظل خفيف لطيف */
}

.clickable-area {
  background-color: rgba(255, 255, 0, 0); /* شفاف بالأساس */
  transition: background-color 0.2s ease, border 0.1s ease;
}

.highlight {
  background-color: rgba(255, 0, 0, 0.078); /* لون أصفر فاتح */
  border: 2px solid rgba(255, 0, 0, 0.8);
  border-radius: 8px; /* ممكن تخليها 0 لو بدك زوايا حادة */
  cursor: pointer;
}
svg {
  cursor: pointer;
}
.navbar-fixed {
  position: relative;
  z-index: 99999999;
}
.selected {
  cursor: pointer;
}

.page_1-background,
.page_2-background,
.page_3-background,
.page_4-background,
.page_5-background,
.page_6-background,
.page_7-background,
.page_8-background,
.page_9-background,
.unit2-page-background {
  background-color: #ffffff;
  /* background-color: #bc90ff; */
  /* overflow: hidden; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* حتى تتمركز الصورة عموديًا */
  width: auto;
  /* height: 95vh; يغطي 95% من ارتفاع الشاشة */
  margin: 0;
  padding: 0;
}
.page1-img-wrapper {
  width: 100%;
  height: 100%;
  min-height: 85vh;
  /* أهم 3 سطور تضمن ظهور الصورة */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;

  /* هذا يجعل الـ DIV يأخذ نفس نسبة صورة الكتاب (ضروري جداً) */
  aspect-ratio: 875 / 1114;

  position: relative;
  display: block;
}
/* إعداد الصورة نفسها */
img {
  height: 85vh;
  width: auto;
}

/* ============page 4=============== */
.page {
  position: relative;
  width: 100%;
  max-width: 900px; /* حجم مناسب */
  margin: auto;
}

.page-img {
  width: 100%;
  height: auto;
  display: block;
}

.num-img,
.num-img-posterVocab,
.vocab_container_poster_vocab h6,
.vocab_container h6 {
  transition: transform 0.4s ease, color 0.4s ease;
}

.num-img.active,
.num-img-posterVocab.active {
  transform: scale(1.4);
  filter: drop-shadow(0 0 6px gold);
}

.vocab_container h6,
.vocab_container_poster_vocab h6 {
  transition: transform 0.2s ease, color 0.2s;
  cursor: pointer;
}

.vocab_container h6.active,
.vocab_container_poster_vocab h6.active {
  transform: scale(1.2); /* تكبير بدون ما يتحرك */
  color: red;
  font-weight: 600;
  filter: drop-shadow(0 0 6px gold);
}

.vocab_container {
  position: absolute;
  bottom: 5%;
  right: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.number-icon,
.headset-icon-CD-page4-1,
.headset-icon-CD-page4-2,
.click-icon-page4 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
}
.headset-icon-CD-page4-1 {
  top: 6.5%;
  right: 8.2%;
}

#num-4-page4 {
  top: 25%;
  left: 85%;
}

#num-5-page4 {
  top: 28%;
  left: 74%;
}

#num-1-page4 {
  top: 44%;
  left: 45%;
}
/* .headset-icon-CD-page4-1 {
  position: absolute;
  background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px;
  cursor: pointer;
} */

.circle-area {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 179, 0, 0.493);
  border: 2px solid red;
  cursor: pointer;
  opacity: 0; /* 🚫 مخفية دائماً */
  transition: 0.25s;
}

.circle-area.active {
  opacity: 1;
  background-color: rgba(255, 0, 0, 0.103); /* لون أصفر فاتح */
  border: 2px solid rgba(255, 0, 0, 0.8); /* 👌 تظهر فقط عند التفعيل */
  transform: scale(1.05);
}
.headset-icon-CD-page4-2 {
  position: absolute;
  top: 60.5%;
  left: 26%;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px;
  padding: 5px; */
  cursor: pointer;
  padding: 5px;
}

.click-icon-page4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 11.5%;
  right: 39%;

  cursor: pointer;
}

.header-title-page4 {
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-shadow: -1px -1px 0 #46b8e6, 1px -1px 0 #46b8e6, -1px 1px 0 #46b8e6,
    1px 1px 0 #46b8e6;
  color: white;
  background: #46b8e6;
  width: fit-content;
  border-radius: 20px 20px 0px 0px;
  padding: 5px;
  position: absolute;
  top: 19%;
  left: 26%;
}
.page1-img-wrapper-flashcard {
  width: 100%;
  height: 100%;
  min-height: 85vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  aspect-ratio: 879 / 1280;
  position: relative;
  display: block;
}

.page1-img-wrapper-teacher {
  width: 100%;
  height: 100%;
  min-height: 85vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top left;
  aspect-ratio: 813 / 1114;
  position: relative;
  display: block;
}
.number-icon {
  position: absolute;
  background-color: #fff461;
  border: red solid 2px;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  /* حتى نقدر نوسّط الرقم */
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* شكل الرقم */
  font-size: 16px;
  position: absolute;
}
.click-icon-page4-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 35%;
  left: 16%;
  cursor: pointer;
}

#num-4-page4 {
  top: 25%;
  left: 85%;
}

#num-5-page4 {
  top: 28%;
  left: 74%;
}

#num-1-page4 {
  top: 44%;
  left: 45%;
}

#d {
  color: darkblue !important;
  font-size: 30px;
  position: absolute;
  top: 43%;
  left: 17.5%;
}

.listen {
  color: black;
  font-size: 20px;
  position: absolute;
  font-weight: 500;
}

.listenSpan {
  color: red;
}

#duck {
  bottom: 30%;
  right: 18%;
}

#dish {
  bottom: 30%;
  left: 54%;
}

#deer {
  bottom: 30%;
  left: 31%;
}

/*===========page5============*/

.headset-icon-CD-page5 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
  cursor: pointer;
}

#CD-1-page5 {
  top: 3%;
  right: 4%;
}

#CD-2-page5 {
  bottom: 30.5%;
  right: 9.2%;
}

#num-2-page5 {
  top: 46%;
  left: 8%;
}

#num-3-page5 {
  top: 43%;
  left: 34%;
}

.click-icon-page5 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 14%;
  left: 52%;
  cursor: pointer;
}
#t {
  color: darkblue !important;
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 18.5%;
}

#tiger {
  bottom: 28%;
  right: 15%;
}

#taxi {
  bottom: 28%;
  left: 54%;
}

#table {
  bottom: 28%;
  left: 31%;
}

#text-0 {
  position: absolute;
  top: 30%;
  left: 7%;
  font-size: 43px;
}
#text-1 {
  cursor: pointer;
  font-size: 43px;
  position: absolute;
  right: 20%;
  top: 30%;
}

/*===========page 6 ====================*/

.headset-icon-CD-page6 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
  top: 3.5%;
  left: 35%;
  cursor: pointer;
}

.clickable-area {
  position: absolute;
  cursor: pointer;
}
.pauseBtn-icon-CD-page6 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 40.2%;
  cursor: pointer;
}
/*=========page7===========*/
.headset-icon-CD-page7 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
  top: 3.5%;
  right: 58.2%;
  cursor: pointer;
}

.pauseBtn-icon-CD-page7 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  right: 53%;
  cursor: pointer;
}
/*===========page8==================*/
.headset-icon-CD-page8 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 8%;
  right: 4%;
  cursor: pointer;
}

.click-icon-page8-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 8%;
  right: 3.4%;
  cursor: pointer;
}
.click-icon-page8-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 26%;
  left: 33.7%;
  cursor: pointer;
}
.click-icon-page8-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 47%;
  left: 33.5%;
  cursor: pointer;
}

.click-icon-page8-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 23%;
  left: 50.7%;
  cursor: pointer;
}

.ex-A {
  border: white solid 2px;
  padding: 0px 10px;
  background-color: #6bcff6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 7px;
  color: #ffffff;
}

.ex-a-1 {
  color: rgb(105, 1, 147);
  font-size: 25px;
  padding: 0px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
}

.header-title-page8 {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.exercise-container {
  display: flex;
  margin-bottom: 80px;
  width: -webkit-fill-available;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-evenly;
}

.exercise-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-image {
  height: 150px;
  width: auto;
  cursor: pointer;
  transition: 0.2s;
  border: solid 2px #6ec1ff;
  border-radius: 13px;
  margin-left: 10px;
}

.exercise-image:hover {
  transform: scale(1.1);
}

.missing-input {
  width: 38px;
  height: 38px;
  border: 2px solid #6ec1ff;
  border-radius: 6px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  transition: transform 0.2s ease, font-size 0.2s ease;
}
.page8-wrapper {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page8-content {
  max-width: 900px;
}

/* لما يصير فيه حرف */
.missing-input.filled {
  transform: scale(1.1); /* يكبر بنسبة 20% */
  font-size: 25px;
}
.missing-input:focus {
  transform: scale(1.25); /* يكبر شوي */
}

.number-of-q {
  color: rgb(105, 1, 147);
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}

/* footer buttons */
.validation-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 18px;
}

.retry-btn,
.play-btn,
.check-btn {
  padding: 8px 18px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: 600;
}

.retry-btn {
  background: #ffee00;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.play-btn {
  background: #64b8ff;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.check-btn {
  background: #55c271;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.char-input {
  border-bottom: black solid 2px;
}
.popup-container {
  position: relative;
  z-index: 9999;
  background: white;
  padding: 25px;
  width: 480px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#match-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item {
  background: #3498db;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  width: fit-content;
  cursor: pointer;
}

.item img {
  width: 100px;
  pointer-events: none;
}

/* #deer-0{
  transform: scaleX(-1);
  
} */
.action-buttons-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  width: calc(100% - 40px);
  justify-content: center;
}

.check-button2,
.try-again-button {
  flex-grow: 1;
  max-width: 180px;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.check-button2 {
  background-color: #28a745;
}

.check-button2:hover {
  background-color: #218838;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(40, 167, 69, 0.3);
}

.try-again-button {
  background-color: #ffc107;
  color: #212529;
}

.try-again-button:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 193, 7, 0.3);
}

.check-button2 {
  background-color: #28a745;
}

.check-button2:hover {
  background-color: #218838;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(40, 167, 69, 0.3);
}

.try-again-button {
  background-color: #ffc107;
  color: #212529;
}

.try-again-button:hover {
  background-color: #e0a800;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 193, 7, 0.3);
}

.play-btn:hover {
  background-color: #1b92f4;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 193, 7, 0.3);
}

.caption-inPopup {
  position: absolute;
  top: -4px;
  left: 18%;
  width: 230px;
  max-height: 300px;
  background: rgba(255, 255, 255, 0.75);
  padding: 12px;
  border-radius: 10px;
  color: #430f68;
  overflow-y: auto;
  font-weight: 500;
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 999999;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;
}

.caption-inPopup.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.caption-inPopup-line2 {
  margin: 6px 0;
  opacity: 0.6;
  font-size: 15px;
}

.caption-inPopup-line2.active {
  opacity: 1;
  color: #ffffff;
  background-color: #430f68;
  border-radius: 8px;
  padding: 5px;
  font-weight: bold;
}

/*===========page9==================*/
.headset-icon-CD-page9 {
  position: absolute;
  padding: 5px;
  bottom: 30%;
  left: 24.8%;
  cursor: pointer;
}

.click-icon-page9-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 3.5%;
  left: 33%;
  cursor: pointer;
}

.click-icon-page9-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 26%;
  left: 33.8%;

  cursor: pointer;
}

#ex-d {
  display: flex;
  align-items: flex-end;
  gap: 11px;
}

.nav-btn {
  width: auto;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s ease;
  padding: 6px;
}

/* Hover Animation */
.nav-btn:hover {
  background: rgba(0, 0, 0, 0.08);
  transform: scale(1.07);
}

/* Click Animation */
.nav-btn:active {
  transform: scale(0.9);
  background: rgba(0, 0, 0, 0.15);
}
@media (max-width: 1180px) {
  .circle-area {
    width: 22px;
    height: 23px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .header-title-page8 {
    font-size: 22px;

    /* white-space: wrap; */
  }
  .word-text3 {
    border-radius: 20px;
    font-size: 18px;
    min-width: 120px;
  }
  .svg-img {
    height: 90px !important;
    width: 75px !important;
  }
  .circle-area {
    width: 14px !important;
    height: 14px !important;
  }
  .headset-icon-CD-page4-1 {
    top: 7.5% !important;
    right: 5.2% !important;
  }
  .headset-icon-CD-page4-2 {
    top: 60.5% !important;
  }
  .click-icon-page4 {
    bottom: 8.5% !important;
    right: 35% !important;
  }
  #CD-1-page5 {
    top: 2% !important;
    right: 2% !important;
  }
  #CD-2-page5 {
    bottom: 29.5% !important;
    right: 7.2% !important;
  }
  .click-icon-page5 {
    bottom: 13% !important;
  }
  .headset-icon-CD-page6 {
    top: 2.5% !important;
  }
  .pauseBtn-icon-CD-page6 {
    top: 2.5% !important;
  }
  .headset-icon-CD-page7 {
    top: 2.5% !important;
    right: 56.2% !important;
  }
  .pauseBtn-icon-CD-page7 {
    top: 2.5% !important;
    right: 51% !important;
  }
  .click-icon-page8-1 {
    top: 6.5% !important;
    right: 1.4% !important;
  }
  .click-icon-page8-2 {
    top: 25%;
    left: 33.3%;
  }
  .click-icon-page8-3 {
    top: 46%;
    left: 32.5%;
  }
  .click-icon-page8-4 {
    bottom: 22% !important;
    left: 49.7%;
  }
  .click-icon-page9-1 {
    top: 2.5%;
  }
  .click-icon-page9-2 {
    top: 25%;
    left: 32.8%;
  }
      .headset-icon-CD-page9 {
        bottom: 28.5% !important;
    }
}
@media (max-width: 1024px) {
  .page1-img-wrapper,
  .page1-img-wrapper-flashcard,
  .page1-img-wrapper-teacher {
    width: 100%;
    height: 100%;
    min-height: 75vh;
  }
  .svg-img {
    height: 140px;
    width: 140px;
  }
  .header-title-page8 {
    font-size: 22px;
  }
  .headset-icon-CD-page4-1 {
    top: 5.5%;
    right: 12.2%;
  }
  .click-icon-page4 {
    bottom: 14.5%;
    right: 42%;
  }

  .click-icon-page4-1 {
    top: 35%;
    left: 17%;
  }
  .headset-icon-CD-page4-2 {
    top: 59.5%;
  }
  .circle-area {
    width: 33px;
    height: 31px;
  }
  .word-text3 {
    border-radius: 20px;
    font-size: 18px;
    min-width: 120px;
  }
  .click-icon-page8-1 {
    top: 8%;
    right: 6.4%;
  }
  #CD-1-page5 {
    top: 2%;
    right: 6%;
  }
  #CD-2-page5 {
    bottom: 32.5%;
    right: 12.2%;
  }
  .click-icon-page5 {
    bottom: 16%;
    left: 52%;
  }
  .click-icon-page8-4 {
    bottom: 25%;
  }
  .headset-icon-CD-page9 {
    bottom: 32.5%;
  }
  .headset-icon-CD-page7 {
    top: 3.5%;
    right: 61.2%;
  }
  .pauseBtn-icon-CD-page7 {
    top: 3.5%;
    right: 56%;
  }
}

@media (max-width: 820px) {
  .page1-img-wrapper,
  .page1-img-wrapper-flashcard,
  .page1-img-wrapper-teacher {
    width: 100%;
    height: 100%;
    min-height: 70vh;
  }
  .page-image {
    width: 100%;
    height: auto; /* خلي الارتفاع تلقائي بالموبايل */
  }
  .header-title-page8 {
    font-size: 22px;
    white-space: wrap;
  }
  .svg-img {
    height: 140px;
    width: 120px;
  }
  .headset-icon-CD-page4-1 {
    top: 6.5%;
    right: 10.2%;
  }
  .headset-icon-CD-page4-2 {
    top: 60.5%;
  }
  .click-icon-page4 {
    bottom: 13.5%;
    right: 41%;
  }
  #CD-2-page5 {
    bottom: 31%;
    right: 10.2%;
  }
  .click-icon-page5 {
    bottom: 14.5%;
    left: 52.5%;
  }
  #CD-1-page5 {
    top: 3.5%;
    right: 5.5%;
  }
  .headset-icon-CD-page6 {
    top: 4%;
  }
  .pauseBtn-icon-CD-page6 {
    top: 4%;
    left: 39.2%;
  }
  .headset-icon-CD-page7 {
    top: 4%;
    right: 60.2%;
  }
  .pauseBtn-icon-CD-page7 {
    top: 4%;
    right: 56%;
  }
  .click-icon-page8-1 {
    top: 8.3%;
    right: 5.4%;
  }
  .click-icon-page8-2 {
    top: 26.5%;
  }
  .click-icon-page8-3 {
    top: 47.5%;
  }
  .click-icon-page8-4 {
    bottom: 23.8%;
  }
  .click-icon-page9-2 {
    top: 26.5%;
  }
  .headset-icon-CD-page9 {
    bottom: 31%;
  }

  .exercise-image-div {
    flex-wrap: wrap !important;
    gap: 20px;
  }
  .audio-popup-vocab-container {
    width: 60% !important;
  }
  .audio-popup-read-container {
    width: 60% !important;
  }
  .circle-area {
    width: 27px;
    height: 29px;
  }
  .nav-btn {
    position: absolute;
    top: 0%;
  }
}
@media (max-width: 768px) {
  .circle-area {
    width: 23px;
    height: 25px;
  }
}
@media (max-width: 600px) {
  .action-buttons-container {
    flex-direction: row !important;
    gap: 10px;
  }
  .show-answer-btn {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .exercise-image {
    height: 80px;
  }
}
