
.circled::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  border: 3px solid #2c5287;
  border-radius: 50%;
  pointer-events: none;
}

.word-bank-review8-p2-q3 {
    display: flex;
    gap: 5px;
    margin: 15px 0 25px;
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}