.word-box2-review6-p1-q3 {
  font-size: 18px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.options-row-review7-p1-q3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.q3-image-review7-p1-q3{
height: 180px;
width: auto;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .q3-image-review7-p1-q3{
height: 105px;
width: auto;
}
}