.content-review7-p2-q2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row-reverse;
}
.question-text-review7-p2-q2 {
    font-size: 20px;
    font-weight: 400;
    width: 100%;
}
.q-input-review7-p2-q2  {
    border-bottom: 2px solid #000000;
    padding: 5px 8px;
    /* border-radius: 6px; */
    font-size: 22px;
    /* width: 120px; */
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    height: 40px;
}
.word-bank-review7-p2-q2 {
    display: flex;
    gap: 5px;
    margin: 15px 0 25px;
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
   .content-review7-p2-q2 {
    flex-direction: row !important;
   }

}
@media (max-width: 1024px) {
  .content-review7-p2-q2 {
    flex-direction: column-reverse;
  }
}
