/* ============================
    GENERAL CONTAINER
============================= */
.container-review8-p1-q1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  /* gap: 20px; */
   grid-template-areas:
    "q1 q2 q3"
    "q4 q5  . ";

}

.container-review8-p1-q1
  .question-box-review8-p1-q1:nth-child(1) {
  grid-area: q1;
}

.container-review8-p1-q1
  .question-box-review8-p1-q1:nth-child(2) {
  grid-area: q2;
}

.container-review8-p1-q1
  .question-box-review8-p1-q1:nth-child(3) {
  grid-area: q3;
}

.container-review8-p1-q1
  .question-box-review8-p1-q1:nth-child(4) {
  grid-area: q4;
  /* grid-column: 2 / 3 */

}

.container-review8-p1-q1
  .question-box-review8-p1-q1:nth-child(5) {
  grid-area: q5;
}


/* ============================
    QUESTION BOX
============================= */
.question-box-review8-p1-q1 {
  /* display: flex; */
  flex-direction: column;
    width: 100%;
  max-width: 260px;
  /* align-items: flex-start; */
  /* gap: 15px; */
}

/* ============================
    IMAGE WITH BLUE BORDER
============================= */
.q3-image-review8-p1-q1 {
  width: 150px;
  height: 150px;
}

.img-div-review8-p1-q1 {
  object-fit: contain;
  /* border: 3px solid rgb(0, 179, 255); */
  border-radius: 12px;
  /* padding: 10px; */
  background: white;
  width: 65%;
  display: flex;
  justify-content: center;
}

/* ============================
    OPTIONS ROW UNDER IMAGE
============================= */
.options-row-review8-p1-q1 {
  width: 100%;
  display: grid;
  justify-content: space-around;
  margin-top: 5px;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  grid-template-columns: 1fr 1fr;
      justify-items: center;
  
}
#option-word-2{
grid-column-start: 1;
grid-column-end: 3;
text-align: center;
}
/* ============================
    OPTION STYLE (WORD)
============================= */
.option-word-review8-p1-q1 {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 4px 15px; /* نفس حجم selected */
  border-radius: 25px;
  border: 2px solid transparent; /* مهم جداً */
  transition: 0.2s;
  position: relative;
  user-select: none;
}

/* ============================
    SELECTED (CIRCLE AROUND WORD)
============================= */
.option-word-review8-p1-q1.selected3 {
  border-color: #2c5287; /* فقط نغيّر اللون */
}

/* ============================
    RED X ICON
============================= */
.wrong-x-review8-p1-q1 {
  color: white;
  background: red;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid white;
}
.q3-image-review8-p1-q1{
  height: 130px;
  width: auto;
}


@media screen and (max-width: 1024px) and (max-height: 600px) {
  .q3-image-review8-p1-q1{
  height: 100px;
  width: auto;
}

}
@media (max-width: 990px) {
  .q3-image-review8-p1-q1 {
    width: 90px;
    height: 90px;
  }
  .img-div-review8-p1-q1 {
    width: auto;
    display: flex;
    justify-content: center;
  }
}
