.row2-review8-p1-q2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.word-bank-review8-p1-q2 {
    display: flex;
    gap: 5px;
    margin: 15px 0 25px;
    flex-wrap: wrap;
    border: 2px solid #4b74ff;
    background-color: #f2f6ff;
    border-radius: 8px;
    padding: 10px;
    /* height: 60px; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
.error-mark-input-review8-p1-q2 {
  position: absolute;
  top: -4px;
  right: -13px;
  width: 26px;
  height: 26px;
  background: red;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 999999;
  border: 2px solid white;
}
.row-content10-review8-p1-q2  {
    display: flex;
    margin-bottom: 55px;
    gap: 22px;
    margin-top: 20px;
}
.input-wrapper-review8-p1-q2 {
  position: relative;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .row-content10-review8-p1-q2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        justify-items: center;
    }
}

@media (max-width: 1024px) {
    .row-content10-review8-p1-q2 {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        justify-items: center;
    }
}
