.container-review8-p2-q1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
}



@media (max-width: 1024px) {
  .container-review8-p2-q1 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
@media (max-width: 912px) {
    .container-review8-p2-q1 {
        grid-template-columns: repeat(2, 1fr) !important;
        justify-items: center;
    }
}
