.click-icon-review8-page1-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 9.5%;
  left: 39%;
  cursor: pointer;
}

.click-icon-review8-page1-1 {
  position: absolute;
  padding: 5px;
  bottom: 22%;
  left: 40.8%;
  cursor: pointer;
}
.click-icon-review8-page1-3 {
  position: absolute;
  padding: 5px;
  bottom: 42.5%;
  left: 38.5%;
  cursor: pointer;
}
.click-icon-review8-page1-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 26%;
  left: 30.5%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-review8-page1-2 {
    top: 8.5% !important;
  }
  .click-icon-review8-page1-3 {
    bottom: 42% !important;
  }

  .click-icon-review8-page1-1 {
    bottom: 21.5% !important;
  }
}
@media (max-width: 1024px) {
  .click-icon-review8-page1-3 {
    bottom: 45%;
    left: 38.5%;
  }
  .click-icon-review8-page1-1 {
    bottom: 24.5%;
    left: 41%;
  }
}
