.click-icon-unit7-page6-2 {
  position: absolute;
  padding: 5px;
  top: 23.4%;
  right: 52%;
  cursor: pointer;
}

.click-icon-unit7-page6-1 {
  position: absolute;
  padding: 5px;
  top: 45.5%;
  left: 42.5%;
  cursor: pointer;
}
.click-icon-unit7-page6-3 {
  position: absolute;
  padding: 5px;
  top: 48%;
  left: 39%;

  cursor: pointer;
}
.headset-icon-CD-unit7-page6-1 {
  position: absolute;
  padding: 5px;
  bottom: 26.5%;
  left: 24.5%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-unit7-page6-2 {
    top: 22.5% !important;
    right: 49.5% !important;
  }
  .click-icon-unit7-page6-3 {
    top: 47% !important;
    left: 39% !important;
  }
  .headset-icon-CD-unit7-page6-1 {
    bottom: 25.5% !important;
    left: 24% !important;
  }
}
@media (max-width: 1024px) {
  .click-icon-unit7-page6-2 {
    top: 23.5%;
    right: 54.5%;
  }

  .headset-icon-CD-unit7-page6-1 {
    bottom: 28.5%;
    left: 25%;
  }
}
