.images-row-Unit7_Page5_Q2 {
  display: flex;
  gap: 15px;
  border: 3px solid #5acbf4;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
}

.img-box-Unit7_Page5_Q2 {
  width: 130px;
  height: 130px;
  /* border-radius: 50%; */
  /* padding: 5px; */
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
}

.selected-Unit5_Page5_Q2 {
  border: 3px solid #2c5287 !important;
  border-radius: 50%;
}

.selected-Unit5_Page5_Q2 img {
  border-radius: 50%;
}

.img-box-Unit5_Page5_Q2 img {
  width: auto;
  height: 150px;
  position: relative;
  /* border-radius: 50%; */
}

.check-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}

.wrong-mark-Unit5_Page5_Q2 {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .img-box-Unit7_Page5_Q2 {
    width: 80px !important;
    height: 100px !important;
  }
}
@media (max-width: 1024px) {
  .images-row-Unit7_Page5_Q2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
