.headset-icon-CD-unit7-page1-1,
.click-icon-unit7-page1-1,
.headset-icon-CD-unit7-page1-2,
.click-icon-unit7-page1-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
}

.headset-icon-CD-unit7-page1-1 {
  top: 7%;
  right: 9.5%;
}

.click-icon-unit7-page1-1 {
  left: 20%;
  top: 42%;
}

.headset-icon-CD-unit7-page1-2 {
  bottom: 38%;
  left: 26%;
}

.click-icon-unit7-page1-2 {
  bottom: 10.5%;
  right: 38%;
}

#num-1-unit7 {
  top: 31%;
  left: 34%;
}

#num-2-unit7 {
  bottom: 67%;
  left: 41%;
}

#num-3-unit7 {
  top: 23%;
  left: 24.5%;
}

#num-4-unit7 {
  top: 39%;
  left: 14.5%;
}

#num-5-unit7 {
  top: 30%;
  left: 66%;
}

#num-6-unit7 {
  bottom: 61%;
  right: 46%;
}

#num-7-unit7 {
  bottom: 43%;
  right: 62%;
}
#num-8-unit7 {
  top: 58%;
  left: 65%;
}

#num-9-unit7 {
  bottom: 20%;
  right: 41%;
}

#num-10-unit7 {
  bottom: 44.5%;
  right: 44%;
}

.highlight-svg-unit7 {
  position: absolute;
  top: 54%;
  left: 16.5%;
  height: 24%;
  pointer-events: none;
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .headset-icon-CD-unit7-page1-1 {
    top: 7% !important;
    right: 5.5% !important;
  }
  .click-icon-unit7-page1-1 {
    left: 21% !important;
    top: 42% !important;
  }
  .headset-icon-CD-unit7-page1-2 {
    bottom: 36% !important;
    left: 27% !important;
  }
      .click-icon-unit7-page1-2 {
        bottom: 9% !important;
        right: 35% !important;
    }
}
@media (max-width: 1024px) {
  .headset-icon-CD-unit7-page1-1 {
    top: 6%;
    right: 12.5%;
  }
  .click-icon-unit7-page1-1 {
    left: 19%;
    top: 41%;
  }
  .headset-icon-CD-unit7-page1-2 {
    bottom: 41%;
    left: 25%;
  }
  .click-icon-unit7-page1-2 {
    bottom: 14%;
    right: 42%;
  }
  .highlight-svg-unit7 {
    position: absolute;
    top: 56%;
    left: 13.5%;
    height: 22%;
    pointer-events: none;
  }
}

@media (max-width: 820px) {
  .headset-icon-CD-unit7-page1-1 {
    top: 6.5%;
    right: 11%;
  }
  .headset-icon-CD-unit7-page1-2 {
    bottom: 40.5%;
    left: 25%;
  }
  .click-icon-unit7-page1-2 {
    bottom: 13%;
    right: 41%;
  }
}
